Repository tripal/tripal, pull requests merged in 2018-05, with the labels that each got.

#352 Fix issue #350
  tripal_chado/api/modules/tripal_chado.cv.api.inc
Labels: in progress

#366 7.x 3.x files management
  tripal/api/tripal.files.api.inc
  tripal/api/tripal.importer.api.inc
  tripal/api/tripal.quotas.api.inc
  tripal/includes/tripal.admin_files.inc
  tripal/includes/tripal.importer.inc
  tripal/includes/tripal.upload.inc
  tripal/includes/tripal.user.inc
  tripal/tripal.install
  tripal/tripal.module
Labels: enhancement, tripal-7.x-3.x

#379 Fixes the placeholder name collision between old and new data in chado_update_record() function.
  tripal_core/api/tripal_core.chado_query.api.inc
Labels: Reviewer #1 Approval, bug, tripal-7.x-2.x

#393 Fix for File Collections File Permissions
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.files.api.inc
  tripal/includes/TripalFieldDownloaders/TripalFieldDownloader.inc
  tripal/includes/tripal.upload.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#385 Fixed bugs in the CV admin interface
  tripal_chado/includes/tripal_chado.cv.inc
  tripal_chado/tripal_chado.module
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker

#388 Fields with the same CV term -- issue #141
  tripal/includes/tripal.fields.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#382 Data Search Views Fix
  tripal/tripal_views_query.inc
  tripal/views_handlers/tripal_views_handler_filter_string.inc
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker

#365 7.x 3.x small fixes
  tripal/api/tripal.entities.api.inc
  tripal_chado/api/tripal_chado.custom_tables.api.inc
  tripal_chado/api/tripal_chado.schema.api.inc
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_formatter.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication.inc
  tripal_chado/includes/TripalFields/sio__annotation/sio__annotation.inc
  tripal_chado/includes/TripalFields/sio__annotation/sio__annotation_formatter.inc
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, tripal-7.x-3.x

#346 Add db transaction to tripal_update_cvtermpath
  tripal_chado/api/modules/tripal_chado.cv.api.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, enhancement, tripal-7.x-3.x

#381 Tested and determined bulk loader does not need legacy code
  tripal_bulk_loader/tripal_bulk_loader.info
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#384 Backport of OBO and cvtermpath updates to Tripal v2
  tripal_analysis/theme/templates/tripal_analysis_properties.tpl.php
  tripal_analysis/tripal_analysis.views_default.inc
  tripal_core/api/tripal_core.chado_query.api.inc
  tripal_core/api/tripal_core.tripal.api.inc
  tripal_cv/api/tripal_cv.api.inc
  tripal_cv/includes/tripal_cv.obo_loader.inc
  tripal_organism/theme/templates/tripal_organism_properties.tpl.php
  tripal_organism/theme/templates/tripal_organism_references.tpl.php
  tripal_organism/tripal_organism.views_default.inc
Labels: Reviewer #1 Approval, release blocker

#395 create contribution guidelines
  CONTRIBUTING.md
Labels: Reviewer #1 Approval, Reviewer #2 Approval

#394 move test guidelines into repo
  tests/README.md
Labels: Reviewer #1 Approval, Reviewer #2 Approval, task, tripal-7.x-3.x

#386 Made same fix as for PR #379
  tripal_chado/api/tripal_chado.query.api.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, tripal-7.x-3.x
