Repository tripal/tripal, pull requests merged in 2018-06, with the labels that each got.

#403 create PR template
  PULL_REQUEST_TEMPLATE.md
Labels: Only 1 Review Needed, Reviewer #1 Approval, documentation, tripal-7.x-3.x

#410 Update to prepare instructions + removed skip
  tripal_chado/includes/setup/tripal_chado.setup.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, good first issue, tripal-7.x-3.x

#413 Cache set check
  tripal/includes/TripalEntityController.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#419 Bugs fixes from backport of File Usage and Expiration.
  tripal/includes/tripal.user.inc
Labels: Only 1 Review Needed, bug, tripal-7.x-3.x

#412 OBO Loader: support for ontologies with non-local terms (using EBI Lookups)
  tripal_chado/includes/TripalImporter/OBOImporter.inc
Labels: Reviewer #1 Approval, tripal-7.x-3.x

#422 Add support for #weight to TripalImporter form.
  tripal/includes/tripal.importer.inc
Labels: Only 1 Review Needed, enhancement, good first issue, tripal-7.x-3.x

#425 Update issue templates
  .github/ISSUE-TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Only 1 Review Needed

#424 Fix remote site fatal error by supplying the correct site id
  tripal_ws/includes/TripalFields/remote__data/remote__data.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval

#426 Fix for issue #204
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#398 try adding protocol query methods
  tripal/api/tripal.terms.api.inc
  tripal/includes/TripalBundleUIController.inc
  tripal_chado/api/tripal_chado.schema.api.inc
  tripal_chado/api/tripal_chado.semweb.api.inc
  tripal_chado/includes/TripalFields/local__contact/local__contact.inc
  tripal_chado/includes/TripalFields/local__contact/local__contact_widget.inc
  tripal_chado/includes/TripalFields/schema__additional_type/schema__additional_type.inc
  tripal_chado/includes/TripalFields/schema__additional_type/schema__additional_type_widget.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication_widget.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_formatter.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_widget.inc
  tripal_chado/includes/tripal_chado.entity.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/includes/tripal_chado.semweb.inc
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, tripal-7.x-3.x

#351 Drupal Search API Support for Tripal Collections
  tripal/views_handlers/tripal_views_handler_area_collections.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#446 Fix for chado_db_select: doesn't use up all db connections.
  tripal_chado/api/tripal_chado.query.api.inc
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#434 Fix for web services when term vocabulary has no URL
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.terms.api.inc
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
Labels: release blocker, tripal-7.x-3.x

#454 Tripal Content Types are no alphabetical and list the ontology term
  tripal/includes/TripalBundleUIController.inc
  tripal/includes/TripalEntityUIController.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, good first issue, release blocker, tripal-7.x-3.x

#448 Fixes the delete_me as default value.
  tripal/includes/TripalFields/TripalFieldWidget.inc
  tripal/includes/tripal.fields.inc
  tripal_chado/includes/TripalFields/chado_linker__prop/chado_linker__prop_widget.inc
  tripal_chado/includes/TripalFields/data__sequence/data__sequence_widget.inc
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference_widget.inc
  tripal_chado/includes/TripalFields/schema__alternate_name/schema__alternate_name_widget.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication_widget.inc
  tripal_chado/includes/TripalFields/sio__annotation/sio__annotation_widget.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#428 Deleting Fields
  tripal/includes/tripal.field_storage.inc
  tripal_chado/api/tripal_chado.variables.api.inc
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval

#443 Added analysis field
  tripal_chado/includes/TripalFields/data__accession/data__accession_widget.inc
  tripal_chado/includes/TripalFields/operation__analysis/operation__analysis.inc
  tripal_chado/includes/TripalFields/operation__analysis/operation__analysis_formatter.inc
  tripal_chado/includes/TripalFields/operation__analysis/operation__analysis_widget.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/includes/tripal_chado.phylotree.inc
Labels: Reviewer #1 Approval, good first issue, release blocker, tripal-7.x-3.x

#458 457-fix-broken-tripal-content
  tripal/includes/TripalEntityUIController.inc
Labels: Only 1 Review Needed, tripal-7.x-3.x

#459 Publication Importer fix Tv3
  tripal/includes/TripalEntityUIController.inc
  tripal_chado/includes/TripalFields/schema__additional_type/schema__additional_type_widget.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importer_PMID.inc
Labels: Only 1 Review Needed, release blocker, tripal-7.x-3.x

#460 Publication Importer fix Tv2
  tripal_feature/includes/tripal_feature.gff_loader.inc
  tripal_pub/includes/importers/tripal_pub.PMID.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-2.x

#463 Made correction to a menu item
  tripal_chado/tripal_chado.module
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#468 Update call the theme_table() in match feature page
  tripal_chado/tripal_chado.module
Labels: Only 1 Review Needed, Reviewer #1 Approval

#466 Fixed simple conditional in Chado Query
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Only 1 Review Needed, bug, good first issue, release blocker, tripal-7.x-3.x

#464 Fixed package for the phylogeny legacy module
  legacy/tripal_phylogeny/tripal_phylogeny.info
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#455 Tokens not working in URLs
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.jobs.api.inc
  tripal/includes/TripalBundleUIController.inc
  tripal/includes/TripalEntityController.inc
  tripal/includes/TripalJob.inc
  tripal/includes/tripal.bulk_update.inc
  tripal_ws/includes/TripalFields/remote__data/remote__data_widget.inc
Labels: Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#472 Fixed a major bug with web service field alter but minor code change
  tripal/includes/TripalImporter.inc
  tripal_chado/tripal_chado.module
  tripal_ws/tripal_ws.module
Labels: Only 1 Review Needed, release blocker, tripal-7.x-3.x

#471 Pub Importer Annoyances
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
  tripal_chado/includes/tripal_chado.pub_search.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#440 Added array design field
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/includes/TripalFields/efo__array_design/efo__array_design.inc
  tripal_chado/includes/TripalFields/efo__array_design/efo__array_design_formatter.inc
  tripal_chado/includes/TripalFields/efo__array_design/efo__array_design_widget.inc
  tripal_chado/includes/TripalFields/local__contact/local__contact_widget.inc
  tripal_chado/includes/TripalFields/obi__organism/obi__organism.inc
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, good first issue, release blocker, tripal-7.x-3.x

#476 Simple fixes.
  tripal/api/tripal.terms.api.inc
  tripal/includes/TripalEntityController.inc
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#480 return false if no term is supplied
  tripal/api/tripal.terms.api.inc
Labels: Only 1 Review Needed

#483 Fix for "field instance is missing the 'term_vocabulary' setting"
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Only 1 Review Needed, good first issue, testing requested, tripal-7.x-3.x

#485 Fixed a crazy mistake that kept all field instances from being created
  tripal/api/tripal.entities.api.inc
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#484 Removed unwanted comma in SQL
  tripal_chado/includes/setup/tripal_chado.setup.inc
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#477 Removed all code for the Admin > Tripal > Extensions > Available Exte…
  tripal/includes/tripal.extensions.inc
  tripal/tripal.module
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#482 File Usage Issues
  tripal/api/tripal.quotas.api.inc
  tripal/includes/tripal.user.inc
Labels: Only 1 Review Needed, good first issue, release blocker, tripal-7.x-3.x

#439 Fix for remote__data field.
  tripal_ws/api/tripal_ws.api.inc
  tripal_ws/includes/TripalFields/remote__data/remote__data.inc
  tripal_ws/includes/TripalFields/remote__data/remote__data_formatter.inc
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
  tripal_ws/includes/tripal_ws.admin.inc
  tripal_ws/theme/css/tripal_ws.css
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#475 Importer permissions
  tripal/includes/TripalImporter.inc
  tripal/tripal.module
  tripal_chado/includes/TripalImporter/PubBulkImporter.inc
  tripal_chado/tripal_chado.module
Labels: Reviewer #1 Approval, Reviewer #2 Approval, good first issue, release blocker, tripal-7.x-3.x

#492 make child term lookup distinct for chado cvterm get children
  tripal_chado/includes/tripal_chado.vocab_storage.inc
Labels: Only 1 Review Needed, bug, good first issue

#453 Fixed so__cds, so__transcript, added a local__gbrowse_image field.
  tripal/api/tripal.entities.api.inc
  tripal/includes/TripalBundleUIController.inc
  tripal_chado/includes/TripalFields/so__transcript/so__transcript.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/includes/tripal_chado.semweb.inc
  tripal_chado/theme/css/tripal_chado.css
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#470 Support for Views Tripal Entity Relationship
  tripal/includes/TripalFieldQuery.inc
  tripal/includes/tripal.field_storage.inc
  tripal/includes/tripal.fields.inc
  tripal/tripal.install
  tripal/tripal.views.inc
  tripal/tripal_views_query.inc
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, bug, enhancement, release blocker, tripal-7.x-3.x

#495 Fix tv3 rc3 pre release
  tripal/api/tripal.terms.api.inc
  tripal_chado/includes/TripalFields/schema__additional_type/schema__additional_type_widget.inc
  tripal_chado/includes/TripalFields/taxrank__infraspecific_taxon/taxrank__infraspecific_taxon_widget.inc
  tripal_chado/includes/setup/tripal_chado.setup.inc
  tripal_chado/includes/tripal_chado.entity.inc
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, URGENT!, release blocker, tripal-7.x-3.x
