Repository tripal/tripal, pull requests merged in 2018-08, with the labels that each got.

#520 Some empty fields rendered when Tripal pane not hidden on display.
  tripal_chado/includes/TripalFields/ogi__location_on_map/ogi__location_on_map.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication_formatter.inc
  tripal_chado/includes/TripalFields/sio__annotation/sio__annotation.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, testing requested

#537 Fixed a bug for the API function chado_query()
  tripal_chado/api/tripal_chado.query.api.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, bug, tripal-7.x-3.x

#528 Additional Relationship Formatter
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_formatter.inc
  tripal_chado/includes/TripalFields/sbo__relationship_table/sbo__relationship_table_formatter.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, enhancement, testing requested, tripal-7.x-3.x

#542 Stop loading the entire entity to check user access
  tripal/includes/TripalEntityUIController.inc
  tripal/includes/tripal.entity.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval

#539 Fix typo
  tripal/api/tripal.jobs.api.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval

#536 Optimization of Publishing Entities
  tripal/includes/TripalEntity.inc
  tripal/includes/TripalEntityController.inc
  tripal_chado/api/tripal_chado.api.inc
  tripal_chado/includes/tripal_chado.entity.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, performance, testing requested, tripal-7.x-3.x

#545 Fix for missing pager in Views
  tripal/includes/TripalFieldQuery.inc
Labels: Only 1 Review Needed, release blocker, tripal-7.x-3.x

#546 Array Design field problems
  tripal/api/tripal.terms.api.inc
  tripal_chado/api/tripal_chado.variables.api.inc
  tripal_chado/includes/TripalFields/chado_linker__contact/chado_linker__contact.inc
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication_widget.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_formatter.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_widget.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#548 543 update tests
  README.md
  composer.json
  composer.lock
  tests/DataFactory.php
  tests/README.md
  tests/tripal/api/TripalJobsApiTest.php
  tests/tripal_chado/api/TripalChadoAPITest.php
Labels: Only 1 Review Needed, Reviewer #1 Approval

#532 Alternate Tripal2-like Sequence Coordinate Formatter
  tripal_chado/includes/TripalFields/data__sequence_coordinates/data__sequence_coordinates.inc
  tripal_chado/includes/TripalFields/data__sequence_coordinates/data__sequence_coordinates_formatter.inc
  tripal_chado/includes/TripalFields/data__sequence_coordinates_table/data__sequence_coordinates_table_formatter.inc
Labels: Reviewer #1 Approval, enhancement, testing requested, tripal-7.x-3.x

#552 Fix remote field
  tripal_ws/includes/TripalFields/remote__data/remote__data.inc
  tripal_ws/includes/TripalFields/remote__data/remote__data_formatter.inc
Labels: Reviewer #1 Approval, fix required

#529 add checkbox for proteins to be created GFF loader
  composer.lock
  tests/DataFactory.php
  tests/README.md
  tests/tripal_chado/data/simpleGFF.gff
  tests/tripal_chado/loaders/GFF3ImporterTest.php
  tests/tripal_chado/loaders/TaxonomyImporterTest.php
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, testing requested

#544 Organism/Contact widgets on Biomaterial content type
  tripal_chado/includes/TripalFields/local__contact/local__contact_widget.inc
  tripal_chado/includes/TripalFields/obi__organism/obi__organism.inc
  tripal_chado/includes/TripalFields/obi__organism/obi__organism_formatter.inc
  tripal_chado/includes/TripalFields/obi__organism/obi__organism_widget.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#567 Fix typo to address web services issue
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#575 Accidentally merged incorrect fix for issue #565. Here is a fix...
  tripal/includes/TripalFieldQuery.inc
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
  tripal_ws/includes/TripalWebServiceResource.inc
Labels: Only 1 Review Needed, URGENT!, bug, release blocker, tripal-7.x-3.x

#576 Added 'legacy' to the old Tv2 content types
  legacy/tripal_analysis/includes/tripal_analysis.chado_node.inc
  legacy/tripal_contact/includes/tripal_contact.chado_node.inc
  legacy/tripal_feature/includes/tripal_feature.chado_node.inc
  legacy/tripal_featuremap/includes/tripal_featuremap.chado_node.inc
  legacy/tripal_library/includes/tripal_library.chado_node.inc
  legacy/tripal_organism/includes/tripal_organism.chado_node.inc
  legacy/tripal_phylogeny/includes/tripal_phylogeny.chado_node.inc
  legacy/tripal_project/includes/tripal_project.chado_node.inc
  legacy/tripal_pub/includes/tripal_pub.chado_node.inc
  legacy/tripal_stock/includes/tripal_stock.chado_node.inc
Labels: Only 1 Review Needed, release blocker, tripal-7.x-3.x

#570 unset global mview variable when deleting if set
  tripal_chado/api/tripal_chado.mviews.api.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#564 Setting admin permissions on content creation
  tripal/includes/TripalBundleUIController.inc
Labels: Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#574 Publication Properties Mismatch
  tripal_chado/api/tripal_chado.semweb.api.inc
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Reviewer #1 Approval, URGENT!, release blocker, tripal-7.x-3.x

#587 Fix for issue #586
  tripal_chado/includes/TripalFields/obi__organism/obi__organism_widget.inc
  tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_widget.inc
Labels: Only 1 Review Needed, URGENT!, affects multiple users, bug, release blocker, tripal-7.x-3.x

#590 Merged data collections with the file management
  tripal/api/tripal.collections.api.inc
  tripal/api/tripal.quotas.api.inc
  tripal/includes/TripalEntityCollection.inc
  tripal/includes/TripalFieldDownloaders/TripalCSVDownloader.inc
  tripal/includes/TripalFieldDownloaders/TripalFieldDownloader.inc
  tripal/includes/TripalFieldDownloaders/TripalTabDownloader.inc
  tripal/includes/TripalFieldQuery.inc
  tripal/includes/tripal.collections.inc
  tripal/includes/tripal.user.inc
  tripal/theme/css/tripal_user_files.css
  tripal/theme/images/directory.png
  tripal/theme/images/txt.png
  tripal/theme/js/tripal.user_files.js
  tripal/tripal.module
  tripal/tripal_views_query.inc
  tripal/views_handlers/tripal_views_handler_area_collections.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker, tripal-7.x-3.x

#592 Data Collections Show for Anonymous Users
  tripal/views_handlers/tripal_views_handler_area_collections.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, bug, release blocker, tripal-7.x-3.x

#601 Adding hooks to the importer.
  tripal/api/tripal.importer.api.inc
  tripal/includes/TripalImporter.inc
Labels: Only 1 Review Needed, enhancement, tripal-7.x-3.x

#589 Auto search on default views.
  tripal/tripal.views_default.inc
Labels: Only 1 Review Needed, release blocker, tripal-7.x-3.x

#571 dont include ontology relationships in tree viewer
  tripal_chado/includes/setup/tripal_chado.chado_vx_x.inc
  tripal_chado/tripal_chado.install
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#593 Creation of content types times out
  tripal/api/tripal.entities.api.inc
  tripal/includes/TripalBundleUIController.inc
  tripal_chado/includes/setup/tripal_chado.setup.inc
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, Reviewer #2 Approval, discussion, release blocker, tripal-7.x-3.x

#612 Fix invalid type in foreach loop
  tripal_chado/includes/TripalFields/so__cds/so__cds.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, bug, release blocker, tripal-7.x-3.x

#582 resolve Phylotree TripalImporter errors
  tripal_chado/api/modules/tripal_chado.phylotree.api.inc
  tripal_chado/includes/TripalImporter/NewickImporter.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, release blocker

#615 edit to documentation: added common path to modules directory
  docs/user_guide/install_tripal/upgrade_from_tripal2.rst
Labels: Only 1 Review Needed, documentation

#579 changed chado_bundle.type_id to a bigint
  tripal_chado/tripal_chado.install
Labels: Only 1 Review Needed, Reviewer #1 Approval, release blocker, tripal-7.x-3.x

#584 Syncing of Pubs in Tv3 Legacy Mode
  legacy/tripal_contact/tripal_contact.install
  legacy/tripal_pub/api/tripal_pub.DEPRECATED.inc
  legacy/tripal_pub/tripal_pub.install
  legacy/tripal_pub/tripal_pub.module
  tripal/api/tripal.jobs.api.inc
  tripal/api/tripal.notice.api.inc
  tripal/includes/TripalJob.inc
  tripal/includes/tripal.jobs.inc
  tripal/theme/css/tripal.css
  tripal_chado/api/modules/tripal_chado.module.DEPRECATED.api.inc
  tripal_chado/api/modules/tripal_chado.pub.api.inc
  tripal_chado/api/tripal_chado.api.inc
  tripal_chado/api/tripal_chado.property.api.inc
  tripal_chado/files/tpub.obo
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
  tripal_chado/tripal_chado.drush.inc
Labels: Reviewer #1 Approval, URGENT!, release blocker, tripal-7.x-3.x

#585 Fix Tripal Bulk Pub Importer Email Report
  legacy/tripal_pub/tripal_pub.install
  legacy/tripal_pub/tripal_pub.module
  tripal_chado/api/modules/tripal_chado.pub.api.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
  tripal_chado/tripal_chado.module
Labels: On Hold, Reviewer #1 Approval, Reviewer #2 Approval, URGENT!, release blocker, tripal-7.x-3.x

#616 Overhaul of content creation for prop-based types.
  docs/user_guide/creating_content.create1.png
  docs/user_guide/creating_content.create2.png
  docs/user_guide/creating_content.create3.png
  docs/user_guide/creating_content.create4.png
  docs/user_guide/creating_content.create5.png
  docs/user_guide/creating_content.create6.png
  docs/user_guide/creating_content.create7.png
  docs/user_guide/creating_content.rst
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.importer.api.inc
  tripal/api/tripal.terms.api.inc
  tripal/includes/TripalBundleController.inc
  tripal/includes/TripalBundleUIController.inc
  tripal/includes/TripalEntityController.inc
  tripal/includes/TripalTermController.inc
  tripal/includes/TripalVocabController.inc
  tripal_chado/api/modules/tripal_chado.cv.api.inc
  tripal_chado/api/tripal_chado.api.inc
  tripal_chado/includes/TripalFields/schema__additional_type/schema__additional_type_widget.inc
  tripal_chado/includes/tripal_chado.bundle.inc
  tripal_chado/includes/tripal_chado.entity.inc
  tripal_chado/includes/tripal_chado.field_storage.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/includes/tripal_chado.vocab_storage.inc
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, Reviewer #2 Approval, URGENT!, bug, release blocker, tripal-7.x-3.x

#622 Improvements to performance for views integration of TripalFields
  tripal/includes/tripal.fields.inc
  tripal/tripal.views.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/tripal_chado.views.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, URGENT!, performance, release blocker, tripal-7.x-3.x
