Repository tripal/tripal, pull requests merged in 2018-12, with the labels that each got.

#753 Bug Fix for bulk setting of URL Aliases
  tripal/includes/TripalBundleUIController.inc
  tripal/includes/tripal.bulk_update.inc
Labels: Reviewer #1 Approval, tripal-7.x-3.x, waiting on submitter

#758 756 consolidate docs
  CONTRIBUTING.md
  docs/README.md
  docs/dev_guide.rst
  docs/dev_guide/contributing.rst
  docs/dev_guide/contributing/documentation.rst
  docs/dev_guide/contributing/governance.rst
  docs/dev_guide/contributing/pull_requests.rst
  docs/dev_guide/contributing/tests.rst
  tests/README.md
Labels: Reviewer #1 Approval, documentation

#764 resolve content creation bug w/ contact field: attach linker contact field instead of base field
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/tripal_chado.install
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval, bug

#773 Added new docs for file management. Issue #772
  docs/dev_guide/exporting_field_settings.rst
  docs/user_guide.rst
  docs/user_guide/example_genomics/func_annots/go.rst
  docs/user_guide/file_management.rst
  docs/user_guide/file_management.user_quotas.1.png
  docs/user_guide/file_management.user_quotas.2.png
  docs/user_guide/file_management.user_quotas.3.png
Labels: Reviewer #1 Approval, Reviewer #2 Approval, documentation, tripal-7.x-3.x

#775 Removing non-required fields from an Entity
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#771 Create dbxref record if not present
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference_widget.inc
Labels: Reviewer #1 Approval, tripal-7.x-3.x

#738 676 allow no regexp for parent in FASTA importer
  tests/tripal_chado/data/two_prots.fasta
  tests/tripal_chado/loaders/FASTAImporterTest.php
  tripal_chado/includes/TripalImporter/FASTAImporter.inc
Labels: Ready for Review, Reviewer #1 Approval

#754 Extension Module list on ReadtheDocs
  docs/_static/theme_overrides.css
  docs/extensions.rst
  docs/extensions/3rd_party.rst
  docs/extensions/administrative.rst
  docs/extensions/analysis.rst
  docs/extensions/data_input.rst
  docs/extensions/developer.rst
  docs/extensions/in_development.rst
  docs/extensions/search.rst
  docs/extensions/visualization.rst
  docs/index.rst
Labels: Ready for Review, documentation, tripal-7.x-3.x

#779 Update 3rd_party.rst
  docs/extensions/3rd_party.rst
Labels: Only 1 Review Needed, Reviewer #1 Approval, documentation

#678 Add unpublish orphaned entities functionality
  docs/user_guide/content_types.rst
  docs/user_guide/content_types/cleaning_orphans.1.png
  docs/user_guide/content_types/cleaning_orphans.2.png
  docs/user_guide/content_types/cleaning_orphans.3.png
  docs/user_guide/content_types/cleaning_orphans.rst
  tripal/api/tripal.entities.api.inc
  tripal/includes/TripalBundleController.inc
  tripal/includes/TripalEntityController.inc
  tripal/includes/tripal.unpublish_orphans.inc
  tripal/tripal.module
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/includes/tripal_chado.bundle.inc
  tripal_chado/includes/tripal_chado.entity.inc
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval, tripal-7.x-3.x

#788 remove remote obo test
  tests/tripal_chado/loaders/OBOImporterTest.php
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#793 update the NCBI taxon db to not go to purl but to NCBI
  tripal_chado/includes/tripal_chado.semweb.inc
  tripal_chado/tripal_chado.install
Labels: Only 1 Review Needed

#795 Fix tripal_ds_update_ds_layout in tripal_ds.module
  tripal_ds/tripal_ds.module
Labels: Reviewer #1 Approval

#787 ReadTheDoc instructions for custom module
  docs/dev_guide.rst
  docs/dev_guide/contributing/documentation.rst
  docs/dev_guide/rtd.rst
Labels: documentation, tripal-7.x-3.x

#780 New developer docs: TripalFieldFormatter, pagers and creating field instances.
  .gitignore
  docs/dev_guide/custom_field.rst
  docs/dev_guide/custom_field/create_instance.rst
  docs/dev_guide/custom_field/custom_formatter.pager.1.png
  docs/dev_guide/custom_field/custom_formatter.rst
  docs/dev_guide/custom_field/custom_formatter.settings.1.png
  docs/dev_guide/custom_field/custom_formatter.settings.2.png
  docs/dev_guide/custom_field/custom_widget.rst
  docs/dev_guide/custom_field/manual_field_creation.rst
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Reviewer #1 Approval, documentation, tripal-7.x-3.x

#808 Bug in update function 7336
  tripal_chado/tripal_chado.install
Labels: Only 1 Review Needed, Reviewer #1 Approval, bug, tripal-7.x-3.x

#617 added spliced mRNA output if sequence is of type mRNA
  tripal_feature/theme/templates/tripal_feature_sequence.tpl.php
Labels: tripal-7.x-2.x
