Repository tripal/tripal, pull requests merged in 2018-10, with the labels that each got.

#664 Remove empty fields from view when loaded via ajax REDUX (revert revert)
  docs/user_guide.rst
  docs/user_guide/configuring_page_display.5.png
  docs/user_guide/content_types.rst
  docs/user_guide/content_types/configuring_page_display.1.png
  docs/user_guide/content_types/configuring_page_display.2.png
  docs/user_guide/content_types/configuring_page_display.3.rearrange.png
  docs/user_guide/content_types/configuring_page_display.4.png
  docs/user_guide/content_types/configuring_page_display.rst
  docs/user_guide/content_types/creating_content.create1.png
  docs/user_guide/content_types/creating_content.create2.png
  docs/user_guide/content_types/creating_content.create3.png
  docs/user_guide/content_types/creating_content.create4.png
  docs/user_guide/content_types/creating_content.create5.png
  docs/user_guide/content_types/creating_content.create6.png
  docs/user_guide/content_types/creating_content.create7.png
  docs/user_guide/content_types/creating_content.rst
  docs/user_guide/content_types/field_loading.empty_ajax.png
  docs/user_guide/content_types/field_loading.rst
  docs/user_guide/content_types/setting_page_urls.1.png
  docs/user_guide/content_types/setting_page_urls.2.png
  docs/user_guide/content_types/setting_page_urls.rst
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.fields.api.inc
  tripal/includes/TripalBundleUIController.inc
  tripal/includes/TripalEntityController.inc
  tripal/includes/TripalEntityUIController.inc
  tripal/includes/tripal.entity.inc
  tripal/includes/tripal.fields.inc
  tripal/theme/js/tripal.js
  tripal/tripal.install
  tripal/tripal.module
  tripal_chado/includes/TripalFields/schema__publication/schema__publication.inc
  tripal_chado/includes/TripalFields/sio__annotation/sio__annotation.inc
  tripal_ds/theme/css/tripal_ds.css
  tripal_ds/theme/js/tripal_ds.js
  tripal_ds/tripal_ds.module
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, URGENT!, release blocker, tripal-7.x-3.x

#695 Cache terms to improve the performance of page load
  tripal_chado/includes/TripalImporter/OBOImporter.inc
  tripal_chado/includes/tripal_chado.cv.inc
  tripal_chado/includes/tripal_chado.vocab_storage.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, bug, release blocker, tripal-7.x-3.x

#696 Added fix for TOC auto hide
  tripal/theme/js/tripal.js
Labels: Only 1 Review Needed, URGENT!, tripal-7.x-3.x

#705 Issue #702: Fix Location on Map field undefined error.
  tripal_chado/includes/TripalFields/ogi__location_on_map/ogi__location_on_map.inc
Labels: Only 1 Review Needed, Ready for Review, Reviewer #1 Approval, tripal-7.x-3.x

#699 Custom Widget docs
  docs/dev_guide/custom_field.rst
  docs/dev_guide/custom_field/custom_widget.rst
  tripal/includes/TripalFields/TripalFieldWidget.inc
Labels: Ready for Review, Reviewer #1 Approval, documentation, tripal-7.x-3.x

#715 Remove undefined menu callback
  tripal_chado/tripal_chado.module
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#711 Fix relationship widget unset variable errors
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_widget.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval
