Repository tripal/tripal, pull requests merged in 2018-11, with the labels that each got.

#736 set all submodule versions to correct version
  legacy/tripal_analysis/tripal_analysis.info
  legacy/tripal_contact/tripal_contact.info
  legacy/tripal_core/tripal_core.info
  legacy/tripal_cv/tripal_cv.info
  legacy/tripal_db/tripal_db.info
  legacy/tripal_feature/tripal_feature.info
  legacy/tripal_featuremap/tripal_featuremap.info
  legacy/tripal_genetic/tripal_genetic.info
  legacy/tripal_library/tripal_library.info
  legacy/tripal_natural_diversity/tripal_natural_diversity.info
  legacy/tripal_organism/tripal_organism.info
  legacy/tripal_phenotype/tripal_phenotype.info
  legacy/tripal_phylogeny/tripal_phylogeny.info
  legacy/tripal_project/tripal_project.info
  legacy/tripal_pub/tripal_pub.info
  legacy/tripal_stock/tripal_stock.info
  legacy/tripal_views/tripal_views.info
  tripal/tripal.info
  tripal_bulk_loader/tripal_bulk_loader.info
  tripal_chado/tripal_chado.info
  tripal_chado_views/tripal_chado_views.info
  tripal_ds/tripal_ds.info
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#737 fix variable passed in hook menu for views integration
  tripal_chado_views/tripal_chado_views.module
Labels: Only 1 Review Needed, Reviewer #1 Approval, tripal-7.x-3.x

#698 interproscan guide
  docs/user_guide/example_genomics/func_annots/blast.rst
  docs/user_guide/example_genomics/func_annots/interpro.rst
  docs/user_guide/example_genomics/func_annots/interpro1.png
  docs/user_guide/example_genomics/func_annots/interpro2.png
Labels: not to master

#697 Functional Docs for the User's Guide: Setup and Blast.
  docs/user_guide.rst
  docs/user_guide/example_genomics.rst
  docs/user_guide/example_genomics/func_annots.rst
  docs/user_guide/example_genomics/func_annots/blast.rst
  docs/user_guide/example_genomics/func_annots/blast1.png
  docs/user_guide/example_genomics/func_annots/blast2.png
  docs/user_guide/example_genomics/func_annots/blast3.png
  docs/user_guide/example_genomics/func_annots/blast4.png
  docs/user_guide/example_genomics/func_annots/blast5.png
  docs/user_guide/example_genomics/func_annots/blast6.png
  docs/user_guide/example_genomics/func_annots/go.rst
  docs/user_guide/example_genomics/func_annots/interpro.rst
  docs/user_guide/example_genomics/func_annots/interpro1.png
  docs/user_guide/example_genomics/func_annots/interpro2.png
  docs/user_guide/example_genomics/func_annots/kegg.rst
  docs/user_guide/example_genomics/func_annots/setup.rst
  docs/user_guide/example_genomics/func_annots/setup1.png
  docs/user_guide/example_genomics/func_annots/setup2.png
  docs/user_guide/example_genomics/organisms.rst
Labels: Ready for Review, Reviewer #1 Approval, documentation, tripal-7.x-3.x

#745 Fix undefined index in search tool
  tripal/includes/TripalFieldQuery.inc
Labels: Only 1 Review Needed

#743 add features guide
  docs/dev_guide.rst
  docs/dev_guide/exporting_field_settings.1.assign_term.png
  docs/dev_guide/exporting_field_settings.2.png
  docs/dev_guide/exporting_field_settings.3.png
  docs/dev_guide/exporting_field_settings.4.png
  docs/dev_guide/exporting_field_settings.5.png
  docs/dev_guide/exporting_field_settings.6.png
  docs/dev_guide/exporting_field_settings.7.png
  docs/dev_guide/exporting_field_settings.rst
  docs/user_guide/content_types/creating_content.rst
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval, documentation

#746 add default search image and location
  docs/user_guide/searching/default_pages.1.png
  docs/user_guide/searching/default_pages.rst
Labels: Only 1 Review Needed, documentation

#742 703 field permission guide
  docs/user_guide/content_types.rst
  docs/user_guide/content_types/field_permissions.1.cross_ref_GA.png
  docs/user_guide/content_types/field_permissions.2.crossref_permissions.png
  docs/user_guide/content_types/field_permissions.rst
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval, documentation

#707 dont exit if we get an error looking up the term, but log a warning
  tests/tripal_chado/loaders/OBOImporterTest.php
  tripal_chado/includes/TripalImporter/OBOImporter.inc
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval

#755 Bundle Category not set correctly
  tripal/api/tripal.entities.api.inc
  tripal_chado/includes/setup/tripal_chado.setup.inc
Labels: Only 1 Review Needed, Ready for Review, tripal-7.x-3.x

#735 Fixes node sync error issue due to missing $transaction variable.
  tripal_core/api/tripal_core.chado_nodes.api.inc
Labels: Only 1 Review Needed, Ready for Review, Reviewer #1 Approval, tripal-7.x-2.x

#726 Relationship Widget
  tests/DataFactory.php
  tests/TripalFieldTestHelper.php
  tests/tripal_chado/fields/sbo__relationship_widgetTest.php
  tripal_chado/api/modules/tripal_chado.project.api.inc
  tripal_chado/api/modules/tripal_chado.stock.api.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_widget.inc
  tripal_chado/tripal_chado.module
Labels: Ready for Review, release blocker, tripal-7.x-3.x
