Repository tripal/tripal, pull requests merged in 2019-05, with the labels that each got.

#930 chado_query table prefixing
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/api/tripal_chado.schema.api.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, bug, tripal-7.x-3.x

#912 fix bug for names of tables without type_id. Fix bug where names wit…
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_formatter.inc
Labels: Reviewer #1 Approval, Reviewer #2 Approval, tripal-7.x-3.x

#927 Fixed loadOntology function in the GFF3 importer to not return if it …
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, Reviewer #2 Approval, bug, tripal-7.x-3.x

#943 Updated docs to include a tv2 link
  docs/user_guide.rst
Labels: Only 1 Review Needed, documentation, good first issue

#867 863 fix chado_db_select function
  composer.lock
  tests/DataFactory.php
  tests/tripal_chado/api/ChadoQueryTest.php
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/includes/ChadoDatabaseConnection.inc
  tripal_chado/includes/ChadoPrefixExtender.inc
  tripal_chado/tripal_chado.module
Labels: Ready for Review, Reviewer #1 Approval, Reviewer #2 Approval

#940 resolve SO based bundles using wrong term name
  tripal/api/tripal.entities.api.inc
  tripal_chado/includes/setup/tripal_chado.setup.inc
  tripal_chado/tripal_chado.install
Labels: Reviewer #1 Approval, Reviewer #2 Approval
