Repository tripal/tripal, pull requests merged in 2019-04, with the labels that each got.

#910 add warning about cross-bundle field permissions
  docs/user_guide/content_types/field_permissions.rst
Labels: Only 1 Review Needed, Reviewer #1 Approval, documentation

#923 Added custom tables page to user's guide
  docs/user_guide.rst
  docs/user_guide/custom_tables.1.png
  docs/user_guide/custom_tables.2.png
  docs/user_guide/custom_tables.rst
Labels: Only 1 Review Needed, documentation, good first issue, tripal-7.x-3.x

#929 Web Services field causing problems
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
Labels: Only 1 Review Needed, Reviewer #1 Approval, bug, tripal-7.x-3.x

#925 Moderinzed images and added text differentiating the Tripal content
  docs/user_guide/drupal_overview.create_content1.png
  docs/user_guide/drupal_overview.create_content2.png
  docs/user_guide/drupal_overview.find_content.png
  docs/user_guide/drupal_overview.rst
  docs/user_guide/install_tripal/upgrade_from_tripal2.rst
Labels: Only 1 Review Needed, documentation, tripal-7.x-3.x

#924 Update upgrade_from_tripal2.rst
  docs/user_guide/install_tripal/upgrade_from_tripal2.rst
Labels: Only 1 Review Needed, documentation, good first issue, tripal-7.x-3.x

#932 Pager AJAX fix.
  tripal/includes/TripalFields/TripalField.inc
  tripal/includes/TripalFields/TripalFieldFormatter.inc
  tripal/theme/js/tripal.js
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_formatter.inc
Labels: Only 1 Review Needed, bug, tripal-7.x-3.x
