Repository tripal/tripal, pull requests merged in 2020-11, with the labels that each got.

#1127 214 tripal version api
  docs/user_guide/install_tripal/upgrade_from_tripal2.rst
  legacy/tripal_analysis/tripal_analysis.info
  legacy/tripal_contact/tripal_contact.info
  legacy/tripal_core/tripal_core.info
  legacy/tripal_cv/tripal_cv.info
  legacy/tripal_db/tripal_db.info
  legacy/tripal_feature/tripal_feature.info
  legacy/tripal_featuremap/tripal_featuremap.info
  legacy/tripal_genetic/tripal_genetic.info
  legacy/tripal_library/tripal_library.info
  legacy/tripal_natural_diversity/tripal_natural_diversity.info
  legacy/tripal_organism/tripal_organism.info
  legacy/tripal_phenotype/tripal_phenotype.info
  legacy/tripal_phylogeny/tripal_phylogeny.info
  legacy/tripal_project/tripal_project.info
  legacy/tripal_pub/tripal_pub.info
  legacy/tripal_stock/tripal_stock.info
  legacy/tripal_views/tripal_views.info
  tripal/tripal.drush.inc
  tripal/tripal.info
  tripal/tripal.module
  tripal_bulk_loader/tripal_bulk_loader.info
  tripal_chado/tripal_chado.info
  tripal_chado_views/tripal_chado_views.info
  tripal_ds/tripal_ds.info
  tripal_ws/tripal_ws.info
Labels: enhancement, hacktoberfest-accepted, tripal-7.x-3.x

#1126 Resolve typos in comments of API documentation
  tripal/api/tripal.collections.api.inc
  tripal/api/tripal.d3js.api.inc
  tripal/api/tripal.entities.api.inc
  tripal/api/tripal.fields.api.inc
  tripal/api/tripal.files.api.inc
  tripal/api/tripal.importer.api.inc
  tripal/api/tripal.jobs.api.inc
  tripal/api/tripal.notice.api.inc
  tripal/api/tripal.terms.api.inc
  tripal/api/tripal.upload.api.inc
  tripal/api/tripal.variables.api.inc
Labels: Reviewer #1 Approval, hacktoberfest-accepted

#1125 Resolve cases and typos in documentation guides
  docs/dev_guide/custom_field/custom_widget.rst
  docs/dev_guide/custom_field/select_vocab_terms.rst
  docs/dev_guide/custom_web_services.rst
  docs/dev_guide/exporting_field_settings.rst
  docs/extensions/data_input.rst
  docs/extensions/module_rating.rst
  docs/extensions/search.rst
Labels: hacktoberfest-accepted

#1131 Add documentation for GitHub Actions: CI PHPUnit testing.
  docs/dev_guide.rst
  docs/dev_guide/CI.create-badge.png
  docs/dev_guide/CI.rst
Labels: documentation

#1117 Fixes to load EDAM ontology.
  tripal_chado/includes/TripalImporter/OBOImporter.inc
Labels: Reviewer #1 Approval, bug, hacktoberfest-accepted, tripal-7.x-3.x

#1119 Fixes for web services bugs
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
  tripal_ws/includes/TripalWebServiceResource.inc
Labels: bug, hacktoberfest-accepted, tripal-7.x-3.x
