Repository tripal/tripal, pull requests merged in 2021-01, with the labels that each got.

#1144 Tripal Importer button
  tripal/includes/tripal.importer.inc
Labels: bug, tripal-7.x-3.x

#1141 Much improved GFF3 loader
  docs/user_guide/example_genomics/genomes_genes.rst
  legacy/tripal_feature/tripal_feature.module
  legacy/tripal_pub/tripal_pub.module
  tests/tripal_chado/data/empty_landmarks.fasta
  tests/tripal_chado/data/gff_duplicate_ids.gff
  tests/tripal_chado/data/gff_invalidstartend.gff
  tests/tripal_chado/data/gff_phase.gff
  tests/tripal_chado/data/gff_phase_invalid_character.gff
  tests/tripal_chado/data/gff_phase_invalid_number.gff
  tests/tripal_chado/data/gff_protein_generation.gff
  tests/tripal_chado/data/gff_rightarrow_id.gff
  tests/tripal_chado/data/gff_score.gff
  tests/tripal_chado/data/gff_seqid_invalid_character.gff
  tests/tripal_chado/data/gff_strand.gff
  tests/tripal_chado/data/gff_strand_invalid.gff
  tests/tripal_chado/data/gff_tag_parent_verification.gff
  tests/tripal_chado/data/gff_tag_unescaped_character.gff
  tests/tripal_chado/data/gff_tagvalue_encoded_character.gff
  tests/tripal_chado/data/gff_tagvalue_unescaped_character.gff
  tests/tripal_chado/data/gff_unescaped_ids.gff
  tests/tripal_chado/data/short_scaffold.fasta
  tests/tripal_chado/data/small_gene.gff
  tests/tripal_chado/loaders/GFF3ImporterTest.php
  tripal/api/tripal.importer.api.inc
  tripal/api/tripal.jobs.api.inc
  tripal/includes/TripalImporter.inc
  tripal/tripal.module
  tripal_bulk_loader/tripal_bulk_loader.module
  tripal_chado/api/ChadoRecord.inc
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
  tripal_chado/tripal_chado.module
Labels: enhancement, tripal-7.x-3.x

#1145 Fix for previous PR on use_button for importers.
  tripal/includes/TripalImporter.inc
Labels: bug, release blocker, tripal-7.x-3.x

#1155 add extra fields to formatter for gene transcript
  tripal_chado/includes/TripalFields/so__transcript/so__transcript.inc
  tripal_chado/includes/TripalFields/so__transcript/so__transcript_formatter.inc
Labels: Codefest, enhancement, tripal-7.x-3.x

#1148 Datetime Fields Showing Wrong Date
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: Codefest, bug, good first issue, tripal-7.x-3.x

#1153 Fix for PHP compatibility
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: Codefest, bug, good first issue, tripal-7.x-3.x

#1152 Missing sequence definition line
  tripal_chado/api/modules/tripal_chado.feature.api.inc
  tripal_chado/includes/TripalFields/data__sequence_record/data__sequence_record.inc
  tripal_chado/includes/TripalFields/data__sequence_record/data__sequence_record_formatter.inc
  tripal_chado/includes/tripal_chado.semweb.inc
  tripal_chado/tripal_chado.install
Labels: Codefest, bug, good first issue, tripal-7.x-3.x

#1158 Bug Fixes pre v3.5 release.
  docs/user_guide/example_genomics/genomes_genes.rst
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: bug, documentation, release blocker, tripal-7.x-3.x

#1161 Display Issue problem
  tripal_chado/includes/TripalFields/data__sequence_record/data__sequence_record.inc
  tripal_chado/includes/TripalFields/data__sequence_record/data__sequence_record_formatter.inc
  tripal_ds/api/tripal_ds.pane.api.inc
  tripal_ds/includes/tripal_ds.ds.inc
  tripal_ds/includes/tripal_ds.field_group.inc
Labels: bug, release blocker, tripal-7.x-3.x

#1139 Tripal field sbo__database_cross_reference timeout fix
  tripal_chado/api/modules/tripal_chado.pub.api.inc
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference.inc
  tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference_formatter.inc
Labels: enhancement, tripal-7.x-3.x
