Repository tripal/tripal, pull requests merged in 2023-11, with the labels that each got.

#1619 Sequence length + Md5sum fields
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1674 Fixes to Tripal Importer Forms
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing

#1677 Fixes to Importers focused on remote-term lookup
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: Tripal 4, Group 4 - Data Importing

#1679 Do not display fopen error messages
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Group 9 - Automated Testing

#1667 Clean-up and Testing of TripalEntity
  tripal/src/Entity/TripalEntity.php
  tripal/src/TripalStorage/TripalEntityBase.php
  tripal/tests/src/Kernel/Entity/TripalEntityTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1680 Tripal 4 Chado Unit field tv4g1-issue1414-uo__unit
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoUnitFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoUnitWidgetDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1681 Drupal 9 End of Life
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-phpunit-php8.0_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8.0_D9_5x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_5x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_1x.yml
  README.md
  phpunit.xml
  tripaldocker/Dockerfile-php8.0-pgsql13
  tripaldocker/Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8.2-pgsql13
  tripaldocker/default_files/000-default.conf
  tripaldocker/default_files/xdebug/xdebug.ini
Labels: Tripal 4, Group 0 - General Maintenance

#1684 additional type widget regex fix
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1431 Tripal 4 Fields: Chado Linker Fields / Chado Contact Linker Field
  tripal/config/schema/tripal.schema.yml
  tripal/src/Entity/TripalEntity.php
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_StoreIdTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Community - Enhancement, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1693 Fix leftover typo in yaml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1691 Remove all '#type' => 'markup' because it doesn't do anything
  tripal/src/Controller/TripalController.php
  tripal/src/Form/TripalAdminAddCustomForm.php
  tripal/src/Form/TripalAdminManageQuotaForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Form/TripalFileQuota.php
  tripal/src/Form/TripalFileQuotaCustomEdit.php
  tripal/src/Form/TripalImporterForm.php
  tripal_chado/src/Form/ChadoCustomTableForm.php
  tripal_chado/src/Form/ChadoCustomTablesDeleteForm.php
  tripal_chado/src/Form/ChadoMviewDeleteForm.php
  tripal_chado/src/Form/ChadoMviewForm.php
  tripal_chado/src/Form/ChadoMviewPopulateForm.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoLinkerPropertyFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSourceDataFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSynonymFormatterDefault.php
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1690 Add a default label for the Authored by field
  tripal/src/Entity/TripalEntity.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1695 All fields can now be added manually through GUI
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoLinkerPropertyDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1696 Restructure Prepare + add separate Import Type Collection
  tripal/src/Commands/TripalCommands.php
  tripal/src/Form/ImportTripalEntityTypeCollection.php
  tripal/src/Services/TripalEntityTypeCollection.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/Services/TripalJob.php
  tripal/src/TripalVocabTerms/TripalTerm.php
  tripal/src/api/tripal.jobs.api.php
  tripal/tests/src/Functional/Services/TripalEntityTypeCollectionTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionCreateTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionGetCollectionsTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionInstallTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionValidateTest.php
  tripal/tripal.links.action.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal/tripal.services.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.default_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.germplasm_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
  tripal_chado/src/Task/ChadoPreparer.php
  tripaldocker/Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8.2-pgsql13
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Group 9 - Automated Testing
