Repository tripal/tripal, pull requests merged in 2023-02, with the labels that each got.

#1405 Fix test coverage + add to Tripal 4 readme
  .github/workflows/ALL-testCoverage-codeclimate.yml
  README.md
Labels: Tripal 4, Group 0 - General Maintenance, Group 9 - Automated Testing

#1412 tv3g4 Issue #1411 fix some php8 errors
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
Labels: Tripal 3, Group 4 - Data Importing, PHP8

#1407 tv3g4 issue#1406 present cbl templates in sorted order
  tripal_bulk_loader/includes/tripal_bulk_loader.chado_node.inc
Labels: Tripal 3, Group 4 - Data Importing

#1410 Improve Maintainability as suggested by CodeClimate
  .codeclimate.yml
  tripal_chado/src/Database/ChadoSchema.php
  tripal_chado/src/api/ChadoSchema.php
Labels: Tripal 4, Group 0 - General Maintenance, Group 9 - Automated Testing

#1402 tv3g3 php8 errors with Bulk update all titles
  tripal/includes/TripalJob.inc
  tripal/includes/tripal.bulk_update.inc
Labels: Tripal 3, Group 3 - Job Management, PHP8

#1328 Implement chado_get_organism_id_from_scientific_name
  tripal_chado/api/modules/tripal_chado.organism.api.inc
Labels: Community - Enhancement, Tripal 3, Group 1 - Tripal Content Types | Terms | Fields

#1396 Use new api function chado_get_organism_id_from_scientific_name
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_widget.inc
Labels: bug - confirmed, Tripal 3, Group 1 - Tripal Content Types | Terms | Fields

#1417 Deafult (non Chado) Vocabulary and IdSpace Plugin.
  tripal/src/Plugin/TripalIdSpace/TripalDefaultIdSpace.php
  tripal/src/Plugin/TripalVocabulary/TripalDefaultVocabulary.php
  tripal/tests/src/Functional/Plugin/TripalDefaultIdSpaceTest.php
  tripal/tests/src/Functional/Plugin/TripalDefaultVocabularyTest.php
  tripal/tests/src/Functional/TripalVocabTermPluginTest.php
  tripal/tripal.install
  tripal_chado/src/Plugin/TripalIdSpace/ChadoIdSpace.php
  tripal_chado/src/Plugin/TripalVocabulary/ChadoVocabulary.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1427 Update workflow to automatically build docker
  .github/workflows/MAIN-buildDocker.yml
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance

#1425 tv3g9 issue1424 Automated testing with newer php versions
  .github/workflows/phpunit-tests.yml
  composer.json
  composer.lock
  docs/contributing/tests.rst
  docs/dev_guide/CI.rst
  phpunit.xml
  tests/tripal/api/TripalJobsApiTest.php
  tests/tripal_chado/api/ChadoRecordTest.php
  tests/tripal_chado/api/TripalChadoOrganismAPITest.php
  tests/tripal_chado/api/TripalChadoPropertyAPITest.php
  tests/tripal_chado/fields/ChadoFieldGetValuesListTest.php
Labels: Tripal 3, bug - potential, Group 9 - Automated Testing, PHP8
