Repository tripal/tripal, pull requests merged in 2023-10, with the labels that each got.

#1663 ChadoStorage should support loading base values
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/Plugin/ChadoStorageTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoAnalysisDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoContactDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActionsTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1650 Synonym Field
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSynonymFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSynonymWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1668 Fix for issue #1661
  tripal_chado/src/Database/ChadoSchema.php
Labels: bug - confirmed, Good First Issue, Group 2 - Data Storage | Tripal DBX | Chado, Easy PR Review 😀

#1671 BUG FIX: ChadoAdditionalType field cannot handle multiple instances at once
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_ReadValueTest.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields
