Repository tripal/tripal, pull requests merged in 2023-08, with the labels that each got.

#1597 Tripal 4 content terms route fix
  tripal/src/Entity/TripalContentTerms.php
  tripal/src/Entity/TripalEntityTypeCollection.php
  tripal/src/Entity/TripalFieldCollection.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1588 Remove 'bio_data' from Tripal
  tripal/config/schema/tripal.schema.yml
  tripal/config/schema/tripal_entity_type.schema.yml
  tripal/js/tripal.js
  tripal/src/Controller/TripalEntityUIController.php
  tripal/src/Entity/TripalEntity.php
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Entity/TripalEntityTypeInterface.php
  tripal/src/Form/TripalEntityForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Plugin/Block/ContentBarChartBlock.php
  tripal/src/Services/TripalEntityTypeCollection.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/api/tripal.entities.api.php
  tripal/tests/src/Functional/Entity/EntityAccessTest.php
  tripal/tests/src/Functional/Entity/TripalContentTest.php
  tripal/tests/src/Functional/Services/TripalContentTypesTest.php
  tripal/tests/src/Functional/Services/TripalEntityTypeCollectionTest.php
  tripal/tests/src/Functional/Services/TripalFieldColectionTest.php
  tripal/tests/src/Functional/TripalRoutePermissionsTest.php
  tripal/tests/src/Functional/TripalTestBrowserBase.php
  tripal/tripal.links.action.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.default_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/tests/fixtures/fill_public_test_prepare.sql
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1598 Chado storage cleanup
  tripal/src/Entity/TripalEntity.php
  tripal/src/Entity/TripalEntityStorageSchema.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/StoragePropertyTypeBase.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/Plugin/ChadoStorageTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1578 Tripal 4 ChadoAnalysisDefault field
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAnalysisFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAnalysisWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoAnalysisDefaultTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1585 Cvterm autocomplete needs filter by cv
  tripal_chado/src/Controller/ChadoCVTermAutocompleteController.php
  tripal_chado/src/Controller/ChadoProjectAutocompleteController.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableCvtermAutocompleteTest.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableProjectAutocompleteTest.php
  tripal_chado/tests/src/Functional/Plugin/FASTAImporterTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1596 Always print debug messages
  tripal/src/Services/TripalLogger.php
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1601 Switched back to bio_data links
  tripal/js/tripal.js
  tripal/src/Entity/TripalEntity.php
  tripal/src/Entity/TripalEntityType.php
  tripal/tests/src/Functional/Entity/TripalContentTest.php
  tripal/tests/src/Functional/TripalRoutePermissionsTest.php
  tripal/tripal.module
  tripal/tripal.routing.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1603 Tripal 4 gff3 loader use cvterm lookup during run
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Tripal 4, Group 4 - Data Importing

#1604 Better Debugging of ChadoStorage for Field Development
  tripal/config/schema/tripal.schema.yml
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Services/ChadoFieldDebugger.php
  tripal_chado/tripal_chado.services.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1622 Tripal 3 delete stray "delete"
  tripal_chado/includes/tripal_chado.fields.inc
Labels: Tripal 3, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀
