Repository tripal/tripal, pull requests merged in 2023-05, with the labels that each got.

#1500 Version number updates
  legacy/tripal_analysis/tripal_analysis.info
  legacy/tripal_contact/tripal_contact.info
  legacy/tripal_core/tripal_core.info
  legacy/tripal_cv/tripal_cv.info
  legacy/tripal_db/tripal_db.info
  legacy/tripal_feature/tripal_feature.info
  legacy/tripal_featuremap/tripal_featuremap.info
  legacy/tripal_genetic/tripal_genetic.info
  legacy/tripal_library/tripal_library.info
  legacy/tripal_natural_diversity/tripal_natural_diversity.info
  legacy/tripal_organism/tripal_organism.info
  legacy/tripal_phenotype/tripal_phenotype.info
  legacy/tripal_phylogeny/tripal_phylogeny.info
  legacy/tripal_project/tripal_project.info
  legacy/tripal_pub/tripal_pub.info
  legacy/tripal_stock/tripal_stock.info
  legacy/tripal_views/tripal_views.info
  tripal/tripal.info
  tripal_bulk_loader/tripal_bulk_loader.info
  tripal_chado/tripal_chado.info
  tripal_chado_views/tripal_chado_views.info
  tripal_ds/tripal_ds.info
  tripal_ws/tripal_ws.info
Labels: Tripal 3, Easy PR Review 😀

#1506 Remove default select from chado_get_organism_select_options()
  tripal_chado/src/api/tripal_chado.organism.api.inc
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1489 Tv4 merge tripal3 pull 1369 gff loader changes
  .github/workflows/ALL-phpunit.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_3x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_5x.yml
  .github/workflows/MAIN-phpunit-php8_D9_2x.yml
  .github/workflows/MAIN-phpunit-php8_D9_3x.yml
  .github/workflows/MAIN-phpunit-php8_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8_D9_5x.yml
  .github/workflows/PR-branchNameCheck.yml
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Tripal 4, Group 4 - Data Importing

#1475 Redo of "Content Types and Fields defined by YAML" focused on minimal changes
  tripal/config/schema/tripal.schema.yml
  tripal/src/Entity/TripalEntityTypeCollection.php
  tripal/src/Entity/TripalEntityTypeCollectionInterface.php
  tripal/src/Entity/TripalFieldCollection.php
  tripal/src/Entity/TripalFieldCollectionInterface.php
  tripal/src/Form/TripalEntityTypeCollectionDeleteForm.php
  tripal/src/Form/TripalFieldCollectionDeleteForm.php
  tripal/src/ListBuilders/TripalEntityTypeCollectionListBuilder.php
  tripal/src/ListBuilders/TripalFieldCollectionListBuilder.php
  tripal/src/Plugin/Field/FieldType/TripalIntegerTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalStringTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalTextTypeItem.php
  tripal/src/Plugin/TripalIdSpace/TripalDefaultIdSpace.php
  tripal/src/Services/TripalEntityTypeCollection.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/api/tripal.api.php
  tripal/tests/src/Functional/Services/TripalEntityTypeCollectionTest.php
  tripal/tests/src/Functional/Services/TripalFieldColectionTest.php
  tripal/tests/src/Functional/TripalTestBrowserBase.php
  tripal/tripal.links.menu.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal/tripal.services.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.default_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/config/schema/tripal_chado.schema.yml
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/tests/src/Functional/Plugin/TripalField_chado_linker__propTest.php
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1459 Tripal 4 - GFF3 Loader Unit tests and fixes
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/TripalImporter/ChadoImporterBase.php
  tripal_chado/tests/fixtures/gff3_loader/gff_1380_landmark_test.gff
  tripal_chado/tests/fixtures/gff3_loader/gff_Citrus_sinensis-orange1.1g015632m.g.gff3
  tripal_chado/tests/fixtures/gff3_loader/gff_rightarrow_id.gff
  tripal_chado/tests/fixtures/gff3_loader/gff_tagvalue_comma_character.gff
  tripal_chado/tests/fixtures/gff3_loader/gff_tagvalue_encoded_comma.gff
  tripal_chado/tests/fixtures/gff3_loader/landmarks.sql
  tripal_chado/tests/fixtures/gff3_loader/small_gene.gff
  tripal_chado/tests/fixtures/gff3_loader/small_gene_with_fasta.gff
  tripal_chado/tests/src/Functional/Plugin/GFF3ImporterTest.php
Labels: Tripal 4, Group 4 - Data Importing

#1508 Tv4g1 issue1507 fix pylotree typo
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1486 Chado CV Term Autocomplete Functionality
  tripal_chado/src/Controller/ChadoCVTermAutocompleteController.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableCvtermAutocompleteTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1498 Tripal 4 chado_unabbreviate_infraspecific_rank (port tripal 3 pull 1244)
  tripal_chado/src/api/tripal_chado.organism.api.inc
  tripal_chado/tests/src/Functional/api/ChadoOrganismAPITest.php
Labels: Community - Enhancement, Tripal 4, Group 0 - General Maintenance, Group 2 - Data Storage | Tripal DBX | Chado

#1511 Remove deprecated functionality to move us closer to D10 support
  .github/workflows/ALL-phpunit.yml
  tripal/tests/src/Functional/Entity/EntityAccessTest.php
  tripal/tests/src/Functional/TripalImporterTest.php
  tripal/tests/src/Functional/TripalRoutePermissionsTest.php
  tripal/tests/src/Functional/TripalTestBrowserBase.php
  tripal/tests/src/Functional/TripalVocabTermPluginTest.php
  tripal/tests/src/Functional/bulkPgSchemaInstallerTest.php
  tripal/tripal.install
  tripal_chado/tests/src/Functional/Forms/chadoInstallerFormTest.php
  tripal_chado/tests/src/Functional/LoadTest.php
  tripal_chado/tests/src/Functional/Services/chadoInstallerTest.php
  tripal_chado/tests/src/Functional/api/ChadoComplianceTest.php
  tripal_chado/tests/src/Functional/api/ChadoCustomTablesAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoDbAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoQueryAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoVariablesAPITest.php
  tripal_chado/tests/src/Functional/api/SchemaAPITest.php
  tripal_chado/tripal_chado.module
  tripaldocker/Dockerfile-php8-pgsql13
  tripaldocker/Dockerfile-php8.1-pgsql13
Labels: Tripal 4, Group 9 - Automated Testing, Easy PR Review 😀

#1517 Compatibility with Drupal 10.0 🎉 (and keeping 9.4 and 9.5)
  .github/workflows/ALL-phpunit.yml
  tripal/src/Controller/TripalJobController.php
  tripal/src/TripalDBX/TripalDbx.php
  tripal/src/TripalDBX/TripalDbxConnection.php
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal/src/TripalDBX/pg-clone-schema/clone_schema.sql
  tripal/tests/src/Functional/TripalDBX/ConnectionTest.php
  tripal/tests/src/Functional/TripalDBX/SchemaTest.php
  tripal/tests/src/Functional/TripalDBX/TripalDbxFunctionalTest.php
  tripal/tests/src/Unit/TripalDbx/TripalDbxUnitTest.php
  tripal/tripal.info.yml
  tripal/tripal.install
  tripal_chado/config/install/tripal_chado.settings.yml
  tripal_chado/src/Task/ChadoCloner.php
  tripal_chado/src/Task/ChadoInstaller.php
  tripal_chado/tests/src/Functional/api/ChadoOrganismAPITest.php
Labels: Release Blocker, Tripal 4, Group 0 - General Maintenance, Group 2 - Data Storage | Tripal DBX | Chado, Group 9 - Automated Testing

#1524 Tripal 4 rename some remaining .inc files to .php - issue1502 - part 2
  tripal/templates/tripal_entity.page.php
  tripal/tripal.module
Labels: Tripal 4, Group 0 - General Maintenance

#1525 Tripal 4 - Fix all the PHP 8.2 deprecations part 2
  tripal/tripal.install
Labels: Group 0 - General Maintenance, PHP8

#1526 Update docker build workflow to match new testing grid.
  .github/workflows/MAIN-buildDocker.yml
Labels: Tripal 4, Group 9 - Automated Testing

#1504 Tv4g1 issue1414 local data source field
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSourceDataFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSourceDataWidgetDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1527 Use dependency injection in Chado Vocal + ID Space classes
  tripal/src/Plugin/TripalIdSpace/TripalDefaultIdSpace.php
  tripal/src/Plugin/TripalVocabulary/TripalDefaultVocabulary.php
  tripal/src/TripalVocabTerms/Interfaces/TripalCollectionPluginInterface.php
  tripal/src/TripalVocabTerms/PluginManagers/TripalCollectionPluginManager.php
  tripal_chado/src/Plugin/TripalIdSpace/ChadoIdSpace.php
  tripal_chado/src/Plugin/TripalVocabulary/ChadoVocabulary.php
  tripal_chado/tests/src/Functional/ChadoTestTrait.php
  tripal_chado/tests/src/Functional/Plugin/ChadoVocabTermsTest.php
Labels: Tripal 4, Group 0 - General Maintenance, Group 9 - Automated Testing

#1531 issue1530 update node.js from 12 to 16
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
Labels: Tripal 4, Group 0 - General Maintenance
