Repository tripal/tripal, pull requests merged in 2023-01, with the labels that each got.

#1374 Issue 1373 PHP8 fixes
  tripal_bulk_loader/includes/tripal_bulk_loader.loader.inc
Labels: bug - confirmed, Tripal 3, Group 4 - Data Importing

#1390 Tv4g0 issue1389 typos
  tripal/config/schema/tripal.schema.yml
  tripal/js/tripal.js
  tripal/js/tripal.user_files.js
  tripal/src/Entity/TripalEntity.php
  tripal/src/Entity/TripalEntityStorageSchema.php
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Form/Register.php
  tripal/src/Form/TripalAdminAddCustomForm.php
  tripal/src/Form/TripalAdminManageFilesForm.php
  tripal/src/Form/TripalAdminManageQuotaForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Form/TripalFileQuota.php
  tripal/src/Form/TripalFileQuotaCustomEdit.php
  tripal/src/Form/TripalImporterForm.php
  tripal/src/Services/TripalFieldsManager.php
  tripal/src/TripalDBX/TripalDbxConnection.php
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/TripalEntityBase.php
  tripal/src/api/tripal.importer.api.php
  tripal/tests/src/Functional/Entity/EntityAccessTest.php
  tripal/tests/src/Functional/TripalDBX/ConnectionTest.php
  tripal/tests/src/Functional/TripalDBX/SchemaTest.php
  tripal/tests/src/Functional/TripalDBX/TripalDbxFunctionalTest.php
  tripal/tests/src/Functional/TripalRoutePermissionsTest.php
  tripal/tests/src/Functional/TripalVocabTermPluginTest.php
  tripal/tests/src/Unit/TripalDbx/TripalDbxUnitTest.php
  tripal/tripal.links.menu.yml
  tripal_biodb/src/Task/BioTaskBase.php
  tripal_biodb/tests/src/Unit/Lock/PersistentDatabaseSharedLockBackendTest.php
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/Database/ChadoConnection.php
  tripal_chado/src/Database/ChadoSchema.php
  tripal_chado/src/Form/ChadoCustomTableForm.php
  tripal_chado/src/Form/ChadoManagerForm.php
  tripal_chado/src/Form/ChadoMviewForm.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Plugin/TripalVocabulary/ChadoVocabulary.php
  tripal_chado/src/Services/ChadoTermsInit.php
  tripal_chado/src/Task/ChadoInstaller.php
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/src/api/ChadoSchema.php
  tripal_chado/src/api/tripal_chado.query.api.inc
  tripal_chado/src/api/tripal_chado.schema.api.inc
  tripal_chado/src/api/tripal_chado.variables.api.inc
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
  tripal_chado/tests/src/Functional/ChadoTestTrait.php
  tripal_chado/tests/src/Functional/Plugin/ChadoVocabTermsTest.php
  tripal_chado/tests/src/Functional/Plugin/TripalField_chado_linker__propTest.php
  tripal_chado/tests/src/Functional/api/ChadoVariablesAPITest.php
Labels: Tripal 4, Group 0 - General Maintenance

#1267 Issue #1266 sbo__relationship field infraspecific nomenclature support
  .gitignore
  tests/tripal_chado/fields/sbo__relationship_widgetTest.php
  tripal_chado/includes/TripalFields/chado_linker__contact/chado_linker__contact_widget.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc
  tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship_widget.inc
  tripal_chado/includes/TripalFields/sbo__relationship_table/sbo__relationship_table_formatter.inc
  tripal_chado/includes/TripalFields/schema__publication/schema__publication_widget.inc
  tripal_chado/includes/tripal_chado.fields.inc
Labels: bug - confirmed, Community - Enhancement, Tripal 3, Group 1 - Tripal Content Types | Terms | Fields

#1399 fix for #1397 - Drupal provided Extensions menu
  tripal/src/Controller/TripalController.php
  tripal/tripal.routing.yml
Labels: Tripal 4, Group 8 - Other Integrations

#1392 Tv4g0 issue1391 dos line endings
  tripal/src/Controller/TripalImporterPermissionsController.php
  tripal/src/Form/TripalImporterForm.php
  tripal/src/Plugin/Derivative/TripalImporterLink.php
  tripal/src/Plugin/Menu/TripalImporterLink.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/src/api/tripal.importer.api.php
  tripal_chado/src/Controller/ChadoCustomTablesController.php
  tripal_chado/src/Form/ChadoCustomTableForm.php
  tripal_chado/src/Form/ChadoCustomTablesDeleteForm.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/Plugin/views/field/ChadoCustomTablesDeleteLink.php
  tripal_chado/src/Plugin/views/field/ChadoCustomTablesEditLink.php
  tripal_chado/src/api/tripal_chado.mviews.api.inc
  tripal_chado/tests/src/Functional/api/ChadoCustomTablesAPITest.php
  tripal_chado/tripal_chado.views.inc
Labels: Tripal 4, Group 0 - General Maintenance

#1395 Update Tripal 3 README to reflect Tripal 4 release.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/core_task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Tripal 4, Group 0 - General Maintenance
