Repository tripal/tripal, pull requests merged in 2023-03, with the labels that each got.

#1435 tv3g9 automated testing with PHP 8.2
  .github/workflows/phpunit-tests.yml
  docs/dev_guide/CI.rst
Labels: Community - Enhancement, Tripal 3, Group 9 - Automated Testing, PHP8

#1423 tv3g4 Issue 1422 fix publish update progress
  tripal_chado/api/tripal_chado.api.inc
Labels: bug - confirmed, Tripal 3, Group 4 - Data Importing

#1429 tv3g9 issue1428 Check for null in tripal_chado_field_storage_load()
  tripal_chado/includes/tripal_chado.field_storage.inc
Labels: bug - confirmed, Tripal 3, Group 9 - Automated Testing

#1438 Tv4g1 issue1436 warnings generating chado schema 1.3.yml
  tripal_chado/chado_schema/generate_chado_schema_yaml.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1441 Tv4g9 issue1439 assert object has attribute
  tripal_chado/tests/src/Functional/api/ChadoCvAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoDbAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoVariablesAPITest.php
Labels: Tripal 4, Group 9 - Automated Testing

#1452 Tv4g1 issue1450 deprecated str replace
  tripal/src/Entity/TripalEntity.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1388 Tripal 4 Field: Sequence Residues
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceFormatterDefault.css
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceWidgetDefault.php
  tripal_chado/tripal_chado.libraries.yml
Labels: Tripal 4, Community - Codefest, Group 1 - Tripal Content Types | Terms | Fields

#1443 BUG: Tripal 3 OBO Importer checks for file when none specified in local file field
  tripal_chado/includes/TripalImporter/OBOImporter.inc
Labels: bug - confirmed, Tripal 3, Group 4 - Data Importing, PHP8, Easy PR Review 😀

#1442 BUG: Tripal 3 PHP8 fix and incorrect use of count
  tripal/views_handlers/tripal_views_handler_field_image.inc
Labels: bug - confirmed, Tripal 3, Group 1 - Tripal Content Types | Terms | Fields, PHP8, Easy PR Review 😀

#1433 BUG: organism field cannot be added manually to gene page
  tripal_chado/src/Plugin/Field/FieldType/obi__organism.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1446 BUG: Tripal 4 OBO Importer checks for file when none specified in local file field
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1465 Tripal 3 Issue 1464 typo corrections
  legacy/tripal_db/tripal_db.module
  legacy/tripal_feature/includes/tripal_feature.chado_node.inc
  tripal/includes/TripalFieldQuery.inc
  tripal/includes/tripal.entity.inc
  tripal/tripal_views_query.inc
  tripal_chado/api/modules/tripal_chado.pub.api.inc
  tripal_chado/api/tripal_chado.query.api.inc
  tripal_chado/includes/TripalFields/sio__references/sio__references.inc
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
  tripal_chado/includes/TripalImporter/TaxonomyImporter.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importer_AGL.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importer_PMID.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
  tripal_chado/includes/setup/tripal_chado.chado_vx_x.inc
  tripal_chado/includes/tripal_chado.field_storage.inc
  tripal_chado/includes/tripal_chado.fields.inc
  tripal_chado/includes/tripal_chado.pub_search.inc
  tripal_chado/includes/tripal_chado.vocab_storage.inc
  tripal_chado/tripal_chado.module
  tripal_chado/tripal_chado.views_default.inc
  tripal_ws/includes/TripalWebService/TripalContentService_v0_1.inc
Labels: Tripal 3, Group 0 - General Maintenance, Easy PR Review 😀
