Repository tripal/tripal, pull requests merged in 2023-09, with the labels that each got.

#1623 Make some fields not required
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1599 Tripal 4 ChadoContactDefault field
  tripal_chado/config/install/tripal.tripalentitytype_collection.default_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoAnalysisDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoContactDefaultTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1617 Tripal 4 php8.2 deprecations (part 4)
  tripal_chado/src/ChadoCustomTables/ChadoMview.php
  tripal_chado/src/api/tripal_chado.query.api.php
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance, PHP8, Easy PR Review 😀

#1633 Add a Tripal 4 Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1625 Support drupal fields by adding a DrupalSQLStorage implementation
  tripal/src/Entity/TripalEntity.php
  tripal/src/Plugin/TripalStorage/DrupalSqlStorage.php
  tripal/src/TripalStorage/StoragePropertyBase.php
  tripal/src/TripalStorage/StoragePropertyValue.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal/src/TripalStorage/TripalStorageUpdateException.php
  tripal/src/TripalStorage/VarCharStoragePropertyType.php
  tripal/tests/src/Kernel/TripalStorage/DrupalSqlStorageTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyBaseClassTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyTypeClassTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyValueClassTest.php
  tripal/tests/src/Kernel/TripalStorage/TripalStorageTest.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 9 - Automated Testing

#1630 Importer file validation improvements
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormSubmitTest.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Tripal 4, Group 4 - Data Importing

#1634 Improve importer file descriptions (location + content)
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/tests/fixtures/importer_whitespace_test_file.txt.gz
  tripal/tests/src/Functional/TripalImporterTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterBaseTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormSubmitTest.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/TripalImporter/ChadoImporterBase.php
  tripal_chado/tests/src/Functional/Plugin/FASTAImporterTest.php
  tripal_chado/tests/src/Functional/Plugin/GFF3ImporterTest.php
  tripal_chado/tests/src/Functional/Plugin/OBOImporterTest.php
  tripal_chado/tests/src/Functional/Plugin/TaxonomyImporterTest.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/FASTAImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/GFF3ImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/OBOImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/TaxonomyImporterFormTest.php
Labels: Tripal 4, Group 4 - Data Importing, Group 9 - Automated Testing

#1618 Newick Importer
  tripal_chado/src/Plugin/TripalImporter/NewickImporter.php
  tripal_chado/src/api/tripal_chado.phylotree.api.php
  tripal_chado/src/api/tripal_chado.phylotree_newick.api.php
  tripal_chado/src/api/tripal_chado.query.api.php
  tripal_chado/tests/fixtures/newick_loader/mrna_mini.fasta.tree
  tripal_chado/tests/fixtures/newick_loader/newick_T92076.tree
  tripal_chado/tests/src/Functional/Plugin/NewickImporterTest.php
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 4 - Data Importing

#1638 Fixed testing issue
  tripal_chado/tests/src/Functional/Plugin/NewickImporterTest.php
Labels: Tripal 4

#1610 TripalTokenParser Class
  tripal/src/Entity/TripalEntity.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/Services/TripalTokenParser.php
  tripal/tests/src/Functional/Services/TripalFieldColectionTest.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal/tripal.services.yml
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1640 TripalImporter support for use_button is false
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/Annotation/TripalImporter.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1649 Tripal 4 add additional infraspecific ranks from MCPD
  tripal_chado/src/api/tripal_chado.organism.api.php
Labels: Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1463 Expanding ChadoStorage to better support linker tables
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/Plugin/ChadoStorageTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerTableTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Release Blocker, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1655 Ability to Disable TripalImporter submit button
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/Annotation/TripalImporter.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
Labels: Group 4 - Data Importing, Easy PR Review 😀

#1645 Tripal 3 backport importer bug fixes from Tripal 4
  tripal_chado/includes/TripalImporter/FASTAImporter.inc
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: Tripal 3, Group 4 - Data Importing

#1644 Tripal 4 importer logging updates
  tripal/src/Form/TripalImporterForm.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/Plugin/TripalImporter/NewickImporter.php
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: Tripal 4, Group 4 - Data Importing

#1657 Removes duplicated importer metadata
  tripal/src/TripalImporter/Annotation/TripalImporter.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/Plugin/TripalImporter/NewickImporter.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: Group 4 - Data Importing, Easy PR Review 😀

#1659 Support detailed upload file format descriptions
  tripal/src/Form/TripalImporterForm.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
  tripal_chado/src/Plugin/TripalImporter/NewickImporter.php
Labels: Group 4 - Data Importing
