Repository tripal/tripal, pull requests merged in 2023-12, with the labels that each got.

#1697 Chado Linker Analysis field
  tripal/src/TripalStorage/StoragePropertyBase.php
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAnalysisFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAnalysisWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/src/TripalField/ChadoFormatterBase.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1702 Improve maintainability chado upgrader complexity
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/tests/src/Kernel/Task/ChadoUpgraderTest.php
Labels: Tripal 4, Group 0 - General Maintenance

#1711 ChadoTermsInit should take an arguement so it can be re-used
  tripal_chado/src/Services/ChadoTermsInit.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1590 Entity Publishing
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/src/Plugin/Annotation/TripalStorage.php
  tripal/src/Plugin/TripalStorage/DrupalSqlStorage.php
  tripal/src/Services/TripalPublish.php
  tripal/src/Services/TripalStorageManager.php
  tripal/src/TripalField/Interfaces/TripalFieldItemInterface.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/TripalStorage/Annotation/TripalStorage.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/PluginManager/TripalStorageManager.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal/src/api/tripal.publish.api.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormTest.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormWithMockTest.php
  tripal/tripal.links.action.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal/tripal.services.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.germplasm_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Services/ChadoFieldDebugger.php
  tripal_chado/tests/fixtures/TripalusDatabasicaChr1Genes.sql
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageFindValuesTest-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageFindValuesTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1715 Update matrix to build docker images for 10.0 and 10.1 only
  .github/workflows/MAIN-buildDocker.yml
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1707 Make zero a valid integer for ChadoIntegerType field when it is required
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1709 Rename fields to standard naming convention
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAdditionalTypeFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAnalysisFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoBooleanFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoIntegerFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoLinkerPropertyFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoOrganismFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceChecksumFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceLengthFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSourceDataFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoStringFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSynonymFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoTextFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoUnitFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoLinkerPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAnalysisWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoBooleanWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoIntegerWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoLinkerPropertyWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoOrganismWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceChecksumWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceLengthWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSourceDataWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStringWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSynonymWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoTextWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoUnitWidgetDefault.php
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1718 Fixed publication terms error
  tripal/src/Services/TripalFieldCollection.php
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
Labels: Tripal 4, Easy PR Review 😀
