Repository tripal/tripal, pull requests merged in 2023-06, with the labels that each got.

#1535 Tv4g2 issue1534 chado cvterm autocomplete update
  tripal_chado/src/Controller/ChadoCVTermAutocompleteController.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableCvtermAutocompleteTest.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1541 Restructure Kernel Tests
  tripal/tests/src/Kernel/TripalDBX/ConnectionTest.php
  tripal/tests/src/Kernel/TripalDBX/SchemaTest.php
  tripal/tests/src/Kernel/TripalDBX/Subclass/TripalDbxConnectionFake.php
  tripal/tests/src/Kernel/TripalDBX/Subclass/TripalDbxSchemaFake.php
  tripal/tests/src/Kernel/TripalDBX/TripalDbxFunctionalTest.php
  tripal_biodb/tests/src/Functional/Task/BioTaskBaseTest.php
  tripal_biodb/tests/src/Kernel/Task/BioTaskBaseTest.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Kernel/Task/ChadoClonerTest.php
  tripal_chado/tests/src/Kernel/Task/ChadoInstallerTest.php
  tripal_chado/tests/src/Kernel/Task/ChadoRenamerTest.php
  tripal_chado/tests/src/Kernel/Task/ChadoUpgraderTest.php
Labels: Tripal 4, Group 9 - Automated Testing

#1537 Tripal 4 port of tripal 3 chado_get_organism_id_from_scientific_name()
  tripal_chado/src/api/tripal_chado.cv.api.php
  tripal_chado/src/api/tripal_chado.db.api.php
  tripal_chado/src/api/tripal_chado.organism.api.php
  tripal_chado/src/api/tripal_chado.variables.api.php
  tripal_chado/tests/src/Kernel/api/ChadoOrganismAPITest.php
Labels: Tripal 4, Group 0 - General Maintenance

#1547 Tripal 4 change chado storage handling of empty fields
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1552 New infrastructure for Kernel Testing Chado Storage + Property Field Tests
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
  tripal_chado/tests/src/Functional/ChadoTestTrait.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 9 - Automated Testing
