Repository tripal/tripal, pull requests merged in 2023-07, with the labels that each got.

#1548 Port tripal_version() api function and drush trp-version to Tripal 4
  tripal/src/Commands/TripalCommands.php
  tripal/src/api/tripal.api.php
  tripal/tests/src/Kernel/ConfigTest.php
  tripal/tests/src/Kernel/api/ApiTest.php
  tripal/tripal.info.yml
  tripal_biodb/tripal_biodb.info.yml
  tripal_chado/tripal_chado.info.yml
Labels: Tripal 4, Group 0 - General Maintenance

#1555 Tripal 4 add a chado boolean field
  tripal/src/Entity/TripalEntity.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalBooleanTypeFormatter.php
  tripal/src/Plugin/Field/FieldType/TripalBooleanTypeItem.php
  tripal/src/Plugin/Field/FieldWidget/TripalBooleanTypeWidget.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal_chado/config/install/tripal.tripalfield_collection.default_chado.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoBooleanTypeFormatter.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeItem.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoBooleanTypeWidget.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoBoolStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoRealStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoTextStoragePropertyType.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1562 Tripal4 issue1561 fix parallel message
  tripal/src/api/tripal.jobs.api.php
Labels: bug - confirmed, Tripal 4, Group 3 - Job Management, Easy PR Review 😀

#1554 Project Autocomplete Controller
  tripal_chado/src/Controller/ChadoProjectAutocompleteController.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableProjectAutocompleteTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1558 Tripal 4 change hook invocation to module handler service
  tripal/src/api/tripal.importer.api.php
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance

#1559 Tripal 4 php8 warning fix in OBO loader
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: Tripal 4, Group 4 - Data Importing, PHP8, Easy PR Review 😀

#1488 Tripal 4 - FASTA loader
  tripal/src/api/tripal.upload.api.php
  tripal_chado/src/Controller/ChadoCVTermAutocompleteController.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/tests/fixtures/fasta_loader/Citrus_sinensis-orange1.1g015632m.g.fasta
  tripal_chado/tests/fixtures/fasta_loader/Citrus_sinensis-scaffold00001-trimmed.fasta
  tripal_chado/tests/src/Functional/Plugin/FASTAImporterTest.php
Labels: Tripal 4, Group 4 - Data Importing

#1570 Tripal 4 issue1568 add missing legacy_ro.obo
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal_chado/files/legacy_ro.obo
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing

#1575 Expand automated docker build set to include images without Chado
  .github/workflows/MAIN-buildDocker.yml
  tripaldocker/Dockerfile-php8.0-pgsql13
  tripaldocker/Dockerfile-php8.1-pgsql13
Labels: Group 9 - Automated Testing

#1560 Tripal 4 - NCBI Taxonomy Loader
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
  tripal_chado/src/api/tripal_chado.phylotree.api.php
  tripal_chado/src/api/tripal_chado.property.api.php
  tripal_chado/src/api/tripal_chado.query.api.php
  tripal_chado/tests/src/Functional/Plugin/TaxonomyImporterTest.php
  tripal_chado/tests/src/Kernel/api/ChadoPhylogenyAPITest.php
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 4 - Data Importing

#1574 Tripal 3 Fix php8.1 deprecations
  legacy/tripal_core/api/tripal_core.chado_nodes.api.inc
  legacy/tripal_core/includes/tripal_core.form_elements.inc
  legacy/tripal_feature/api/tripal_feature.DEPRECATED.inc
  legacy/tripal_pub/api/tripal_pub.DEPRECATED.inc
  tripal_bulk_loader/includes/tripal_bulk_loader.admin.templates.inc
  tripal_chado/api/modules/tripal_chado.feature.api.inc
Labels: bug - confirmed, Tripal 3, Group 0 - General Maintenance, PHP8, Easy PR Review 😀

#1577 Tripal 4 tripal logger string substitution not done in some cases
  tripal/src/Services/TripalLogger.php
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1582 REVEAL: Fix Content Type listing
  tripal/templates/tripal-entity-content-add-list.html.twig
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1584 Full Test Suite for ChadoStorage: Single Property Field
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 9 - Automated Testing
