Repository tripal/tripal, pull requests merged in 2023-04, with the labels that each got.

#1467 Tripal 4 bugfix for schema__additional_type field
  tripal_chado/src/Plugin/Field/FieldType/schema__additional_type.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1474 Tripal 4 Issue 1472 $form_state bugfix
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1476 Update Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8-pgsql13
  tripaldocker/Dockerfile-php8.1-pgsql13
Labels: Community - Enhancement, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1480 Update Dockerfile-php8-pgsql13
  tripaldocker/Dockerfile-php8-pgsql13
Labels: Community - Enhancement, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1479 Update Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8.1-pgsql13
Labels: Community - Enhancement, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1262 Newick Importer --Bug fixes + Enhancements
  legacy/tripal_phylogeny/includes/tripal_phylogeny.chado_node.inc
  legacy/tripal_phylogeny/tripal_phylogeny.drush.inc
  tests/tripal_chado/data/newick_T92076.tree
  tests/tripal_chado/loaders/NewickImporterTest.php
  tripal/tripal.module
  tripal_chado/api/modules/tripal_chado.module.DEPRECATED.api.inc
  tripal_chado/api/modules/tripal_chado.phylotree.api.inc
  tripal_chado/includes/TripalFields/operation__phylotree_vis/operation__phylotree_vis_formatter.inc
  tripal_chado/includes/TripalImporter/NewickImporter.inc
  tripal_chado/includes/TripalImporter/TaxonomyImporter.inc
  tripal_chado/includes/tripal_chado.phylotree.inc
  tripal_chado/theme/js/tripal_phylogeny.js
Labels: bug - confirmed, Tripal 3, Group 4 - Data Importing, PHP8

#1369 GFF3 Importer: duplicate landmark uniquename bug
  tests/tripal_chado/data/gff_newlandmark1.gff
  tests/tripal_chado/data/gff_newlandmark2.gff
  tests/tripal_chado/loaders/GFF3ImporterTest.php
  tripal_chado/includes/TripalImporter/GFF3Importer.inc
Labels: bug - confirmed, Tripal 3, Group 4 - Data Importing, PHP8

#1484 Tv4g4 issue1483 organism lists for select
  tripal_chado/src/api/tripal_chado.organism.api.inc
Labels: Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1497 Tripal 4 issue1496 fix old workflow versions
  .github/workflows/ALL-phpunit.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_3x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8.1_D9_5x.yml
  .github/workflows/MAIN-phpunit-php8_D9_2x.yml
  .github/workflows/MAIN-phpunit-php8_D9_3x.yml
  .github/workflows/MAIN-phpunit-php8_D9_4x.yml
  .github/workflows/MAIN-phpunit-php8_D9_5x.yml
  .github/workflows/PR-branchNameCheck.yml
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Group 9 - Automated Testing

#1499 Update testing badge urls and other t4d8 references in the README
  README.md
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀
