Repository tripal/tripal, pull requests merged in 2024-01, with the labels that each got.

#1721 Create a Github Workflow to Sync Drupal.org on every push to 4.x
  .github/workflows/MAIN-syncDrupalOrg
Labels: Tripal 4, Group 0 - General Maintenance, Group 8 - Other Integrations, Easy PR Review 😀

#1729 Updates to ChadoStorage -- path argument and cleanup.
  tripal/src/Services/TripalPublish.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoLinkerPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Services/ChadoFieldDebugger.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoAnalysisDefault-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoAnalysisDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoContactDefault-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoContactDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefault-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_StoreIdTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_StoreLinkTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_StorePkeyTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageFindValuesTest-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageLinkerFieldTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageLinkerFields-FieldDefinitions.yml
Labels: URGENT!, Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1727 Cleanup Terms: move all chado_table focused local cvs into the main 'local' cv.
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoUnitWidgetDefault.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/src/api/tripal_chado.phylotree.api.php
  tripal_chado/tests/fixtures/TripalusDatabasicaChr1Genes.sql
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/fixtures/gff3_loader/TripalusDatabasicaChr1Genes.gff3
  tripal_chado/tests/src/Functional/Task/ChadoPreparerTest.php
Labels: Group 0 - General Maintenance, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1710 Finally, the Database Cross Reference Field!
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
  tripal_chado/config/install/tripal_chado.chado_term_mapping.core_mapping.yml
  tripal_chado/src/Controller/ChadoDbxrefAutocompleteController.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoDbxrefFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1735 Fix unquoted leading zeros in yaml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1732 Publishing content types and fields linked to a property type_id
  tripal/src/Services/TripalPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageFindValuesTest.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1736 Fix to improve loading speed of content type listing
  tripal/src/Entity/TripalEntity.php
  tripal/src/ListBuilders/TripalEntityListBuilder.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Group 10 - Performance

#1737 Fix for Taxonomy Importer - removes the file upload field
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: Tripal 4, Group 4 - Data Importing

#1740 Fix for Quota Page
  tripal/src/Form/TripalFileQuota.php
Labels: Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1742 GFF3 loader validation
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1745 Fixes Usage of TripalJob
  tripal/src/Form/ImportTripalEntityTypeCollection.php
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/src/Services/TripalJob.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/src/api/tripal.jobs.api.php
  tripal_chado/src/Form/ChadoInstallForm.php
  tripal_chado/src/Form/ChadoManagerForm.php
  tripal_chado/src/Form/ChadoMviewPopulateForm.php
  tripal_chado/src/Form/ChadoPrepareForm.php
  tripal_chado/src/api/tripal_chado.mviews.api.php
Labels: Tripal 4, Group 3 - Job Management

#1751 Changes destory() to delete() on the ChadoCustomTable class
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/Form/ChadoCustomTablesDeleteForm.php
  tripal_chado/src/Form/ChadoMviewDeleteForm.php
  tripal_chado/src/Task/ChadoRemover.php
  tripal_chado/src/api/tripal_chado.custom_tables.api.php
  tripal_chado/src/api/tripal_chado.mviews.api.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1748 Chado fix for box_range
  tripal_chado/chado_schema/chado-only-1.3.sql
  tripal_chado/chado_schema/chunk_sql_file.php
  tripal_chado/chado_schema/default_schema-1.3.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part1.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part10.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part11.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part12.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part13.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part14.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part15.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part16.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part17.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part18.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part19.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part2.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part20.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part21.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part22.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part23.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part24.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part25.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part26.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part27.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part28.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part29.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part3.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part30.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part31.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part32.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part33.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part34.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part35.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part36.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part37.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part38.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part39.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part4.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part40.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part41.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part5.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part6.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part7.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part8.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part9.sql
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1753 Tripal 4 alpha 2 typo fixes
  tripal/src/Entity/TripalEntity.php
  tripal/src/Services/TripalEntityTypeCollection.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/Services/TripalTokenParser.php
  tripal/tripal.module
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genomic_chado.yml
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1756 Updating release numbers to 4.0.0-alpha3
  tripal/tripal.info.yml
  tripal_biodb/tripal_biodb.info.yml
  tripal_chado/tripal_chado.info.yml
Labels: Tripal 4

#1768 Add function to get default schema and associated tests
  tripal_chado/src/Database/ChadoSchema.php
  tripal_chado/tests/src/Functional/Database/ChadoSchemaTest.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado
