Repository tripal/tripal, pull requests merged in 2024-04, with the labels that each got.

#1839 Move helper functions out of Functional base and into Test Trait
  tripal/tests/src/Functional/TripalTestBrowserBase.php
  tripal/tests/src/Kernel/ConfigTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionCreateTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionGetCollectionsTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionInstallTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionValidateTest.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormTest.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormWithMockTest.php
  tripal/tests/src/Kernel/TripalDBX/ConnectionTest.php
  tripal/tests/src/Kernel/TripalDBX/SchemaTest.php
  tripal/tests/src/Kernel/TripalDBX/TripalDbxFunctionalTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterBaseTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormSubmitTest.php
  tripal/tests/src/Kernel/TripalStorage/DrupalSqlStorageTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyBaseClassTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyTypeClassTest.php
  tripal/tests/src/Kernel/TripalStorage/PropertyValueClassTest.php
  tripal/tests/src/Kernel/TripalStorage/TripalStorageTest.php
  tripal/tests/src/Kernel/TripalTestKernelBase.php
  tripal/tests/src/Kernel/api/ApiTest.php
  tripal/tests/src/Traits/TripalTestTrait.php
  tripal_biodb/tests/src/Kernel/Task/BioTaskBaseTest.php
  tripal_biodb/tests/src/Unit/Lock/PersistentDatabaseSharedLockBackendTest.php
  tripal_chado/tests/src/Functional/ChadoTestBrowserBase.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: Tripal 4, Group 9 - Automated Testing, Easy PR Review 😀

#1819 Add missing terms for some chado columns, defining when necessary
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal_chado.chado_term_mapping.core_mapping.yml
  tripal_chado/src/Entity/ChadoTermMapping.php
  tripal_chado/tripal_chado.install
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1833 Publications Importer V4
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/TripalPubLibrary/Interfaces/TripalPubLibraryInterface.php
  tripal_chado/src/Form/ChadoNewPubSearchQueryForm.php
  tripal_chado/tests/src/Functional/Plugin/TripalPubLibraryTest.php
Labels: Tripal 4, Group 4 - Data Importing

#1849 Update chado prepare sql for automated tests
  tripal_chado/tests/fixtures/TripalusDatabasicaChr1Genes.sql
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/src/Functional/Task/ChadoPreparerTest.php
Labels: bug - confirmed, Tripal 4, Group 9 - Automated Testing

#1846 Catch adding Chado field to non-Chado content type
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1847 Tv4g2 issue1779 no default custom tables
  tripal_chado/config/install/views.view.chado_custom_tables.yml
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/tripal_chado.install
  tripal_chado/tripal_chado.views.inc
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1841 Fix data leak between publish calls
  tripal/src/Entity/TripalEntity.php
  tripal/src/ListBuilders/TripalEntityListBuilder.php
  tripal/src/Services/TripalPublish.php
  tripal/tests/src/Functional/Permissions/TripalRoutePermissionsTest.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal/tests/src/Traits/TripalTestTrait.php
  tripal_chado/tests/src/Functional/Forms/chadoInstallerFormTest.php
  tripal_chado/tests/src/Functional/Permissions/TripalChadoRoutePermissionsTest.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Kernel/Services/TripalPublishServiceTest.php
Labels: bug - confirmed, Tripal 4, Follow-up Needed, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1854 Fix bug in publish showing up in testing environment
  tripal/src/Services/TripalPublish.php
  tripal_chado/tests/src/Kernel/Services/TripalPublishServiceTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1855 Fixes validation missing values bug
  tripal_chado/src/TripalStorage/ChadoRecords.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1782 Allow fields to link to their corresponding entity
  tripal/src/Services/TripalEntityLookup.php
  tripal/src/Services/TripalTokenParser.php
  tripal/tripal.services.yml
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAnalysisFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoArrayDesignFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAssayFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoBiomaterialFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoFeatureFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoFeatureMapFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoOrganismFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoProjectFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoProtocolFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoPubFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoStockFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoStudyFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
  tripal_chado/tripal_chado.install
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 7 - Page Display

#1860 Fix dbxref field, observed after GFF3 importer
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoDbxrefFormatterDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1862 Enable Wysiwyg toolbar for Tripal/Chado Text fields
  tripal/config/schema/tripal.schema.yml
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalTextTypeFormatter.php
  tripal/src/Plugin/Field/FieldWidget/TripalTextTypeWidget.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1861 Fix the sequence coordinates field
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceCoordinatesDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceCoordinatesWidgetDefault.php
  tripal_chado/tripal_chado.install
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀
