Repository tripal/tripal, pull requests merged in 2024-08, with the labels that each got.

#1940 Set default terms for field properties when chado mapping is missing.
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactByRoleTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceCoordinatesDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields

#1943 Make sure the contact widget/formatter know they are compatible with both fields
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoContactFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#1946 regex fix for issue #1945
  .github/workflows/PR-branchNameCheck.yml
Labels: Tripal 4, Group 9 - Automated Testing, Easy PR Review 😀

#1951 Improve Tripaldocker: support VSCode devcontainers + single dockerfile with args approach
  .devcontainer.json
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_3x.yml
  .github/workflows/SCHEDULE-buildDrupalDocker.yml
  .gitignore
  Dockerfile
  tripaldocker/Dockerfile-php8.2
  tripaldocker/Dockerfile-php8.3
  tripaldocker/drupal.Dockerfile
  tripaldocker/init_scripts/init.sh
  tripaldocker/init_scripts/motd
  tripaldocker/init_scripts/supervisord.conf
Labels: Group 8 - Other Integrations

#1955 Build tripaldocker on all the versions so extensions can better test.
  .github/workflows/MAIN-buildDocker.yml
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1844 Implements the ChadoBuddy framework + Cvterm/Dbxref buddies
  tripal_chado/src/ChadoBuddy/Annotation/ChadoBuddy.php
  tripal_chado/src/ChadoBuddy/ChadoBuddyPluginBase.php
  tripal_chado/src/ChadoBuddy/ChadoBuddyRecord.php
  tripal_chado/src/ChadoBuddy/Exceptions/ChadoBuddyException.php
  tripal_chado/src/ChadoBuddy/Interfaces/ChadoBuddyInterface.php
  tripal_chado/src/ChadoBuddy/PluginManagers/ChadoBuddyPluginManager.php
  tripal_chado/src/Plugin/ChadoBuddy/ChadoCvtermBuddy.php
  tripal_chado/src/Plugin/ChadoBuddy/ChadoDbxrefBuddy.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoBuddyBaseTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoCvtermBuddyTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoDbxrefBuddyTest.php
  tripal_chado/tripal_chado.services.yml
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado, Group 10 - Performance

#1929 Resolve discovered field name length problems
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/tests/modules/tripal_test/src/Plugin/Field/FieldType/TripalTestTextTypeItem.php
  tripal/tests/src/Functional/Services/TripalFieldCollectionTest.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1926 Deprecations for tripal_chado.query in branch tv4g2-issue1341-chadoQu…
  tripal_chado/src/api/tripal_chado.query.api.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1931 Remove double-space collapse for publish
  tripal/src/Entity/TripalEntity.php
  tripal/src/Services/TripalPublish.php
  tripal/src/Services/TripalTokenParser.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1942 ChadoAdditionalTypeTypeDefault can be manually added
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1949 don't add to render array if no value
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalBooleanTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalIntegerTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalStringTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalTextTypeFormatter.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields
