Repository tripal/tripal, pull requests merged in 2024-02, with the labels that each got.

#1770 Update Tripal Importer database rollback to apply to Chado, not the Drupal database
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/src/api/tripal.importer.api.php
  tripal_chado/src/TripalImporter/ChadoImporterBase.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ChadoImporterTransactionTest.php
Labels: Tripal 4, Group 4 - Data Importing

#1762 Tripal 4: Taxonomy importer name comparison now case insensitive
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
Labels: Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1763 Tripal 3: Taxonomy importer name comparison now case insensitive
  tripal_chado/includes/TripalImporter/TaxonomyImporter.inc
Labels: Tripal 3, Group 4 - Data Importing, Easy PR Review 😀

#1766 Repair the field debugger
  tripal_chado/src/Services/ChadoFieldDebugger.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Easy PR Review 😀

#1773 Adds a test to actually ensure that getDefinitions() returns our core chado plugins
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ChadoImporterBaseTest.php
Labels: Tripal 4, Group 9 - Automated Testing, Easy PR Review 😀

#1775 Update Dockerfile Drupal version to 10.1.0 for PHP8.2
  Dockerfile
  tripaldocker/Dockerfile-php8.2-pgsql13
Labels: Tripal 4, Group 0 - General Maintenance

#1777 Update Symbolic Link for base Dockerfile
  Dockerfile
Labels: bug - confirmed, Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1771 Tv4g2 issue1758 chado custom table functionality
  tripal_chado/src/Services/ChadoCustomTableManager.php
  tripal_chado/src/Services/ChadoMviewsManager.php
  tripal_chado/tests/src/Functional/Services/ChadoCustomTableManagerTest.php
  tripal_chado/tripal_chado.services.yml
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1785 Change CV terms for Contact bundle
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
  tripal_chado/config/install/tripal_chado.chado_term_mapping.core_mapping.yml
Labels: Tripal 4, Group 0 - General Maintenance

#1784 Modified 3 tripaldocker/Dockerfiles for PHP 8.1, 8.2 and 8.3 to accom…
  tripaldocker/Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8.2-pgsql13
  tripaldocker/Dockerfile-php8.3-pgsql13
Labels: Tripal 4, Group 0 - General Maintenance, Group 4 - Data Importing, Easy PR Review 😀

#1713 Tripal 3 pub importer fixes for book type
  tripal_chado/api/modules/tripal_chado.pub.api.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importer_PMID.inc
  tripal_chado/includes/loaders/tripal_chado.pub_importers.inc
Labels: Tripal 3, Group 4 - Data Importing

#1787 Fix for error on job view and argument listing
  tripal/src/Controller/TripalJobController.php
Labels: Good First Issue, Tripal 4, Group 3 - Job Management, Easy PR Review 😀

#1788 ChadoStorage fix for joins that loop back to the root table
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions-FieldDefinitions.yml
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_ReadValueTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageActions_StoreIdTest.php
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado

#1701 Tripal Pub Library implementation (part of Tripal Publications Importer implementation)
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/TripalPubLibrary/Annotation/TripalPubLibrary.php
  tripal/src/TripalPubLibrary/Interfaces/TripalPubLibraryInterface.php
  tripal/src/TripalPubLibrary/PluginManagers/TripalPubLibraryManager.php
  tripal/src/TripalPubLibrary/TripalPubLibraryBase.php
  tripal/src/TripalPubParser/Annotation/TripalPubParser.php
  tripal/src/TripalPubParser/Interfaces/TripalPubParserInterface.php
  tripal/src/TripalPubParser/PluginManagers/TripalPubParserManager.php
  tripal/src/TripalPubParser/TripalPubParserBase.php
  tripal/tripal.install
  tripal/tripal.services.yml
  tripal_chado/src/Form/ChadoDeletePubSearchQueryForm.php
  tripal_chado/src/Form/ChadoManagePubSearchQueriesForm.php
  tripal_chado/src/Form/ChadoNewPubSearchQueryForm.php
  tripal_chado/tests/src/Functional/Plugin/TripalPubLibraryTest.php
  tripal_chado/tripal_chado.links.menu.yml
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 4 - Data Importing, ready for review

#1792 Default Layouts
  tripal_layout/config/install/tripal_layout.tripal_layout_default_view.general_view.yml
  tripal_layout/config/install/tripal_layout.tripal_layout_default_view.genomic_view.yml
  tripal_layout/config/schema/tripal_layout.schema.yml
  tripal_layout/css/tripal_layout.default_view.css
  tripal_layout/src/Controller/TripalEntityUILayoutController.php
  tripal_layout/src/Entity/TripalLayoutDefaultView.php
  tripal_layout/src/Entity/TripalLayoutDefaultViewInterface.php
  tripal_layout/src/Form/TripalLayoutDefaultViewDeleteForm.php
  tripal_layout/src/ListBuilders/TripalLayoutDefaultViewListBuilder.php
  tripal_layout/tripal_layout.info.yml
  tripal_layout/tripal_layout.libraries.yml
  tripal_layout/tripal_layout.links.action.yml
  tripal_layout/tripal_layout.links.menu.yml
  tripal_layout/tripal_layout.module
  tripal_layout/tripal_layout.routing.yml
Labels: Tripal 4, Group 7 - Page Display

#1801 Tripal Layout naming change to human readable format in Admin -> Extensions
  tripal_layout/tripal_layout.info.yml
Labels: Tripal 4, Group 9 - Automated Testing, Easy PR Review 😀

#1802 Update older tests to use ChadoTestTrait instead of a hardcoded `testchado` schema
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_2x.yml
  tripal/src/TripalDBX/TripalDbxConnection.php
  tripal_chado/src/Commands/ChadoManageCommands.php
  tripal_chado/src/Services/chadoInstaller.php
  tripal_chado/src/Task/ChadoInstaller.php
  tripal_chado/src/api/ChadoSchema.php
  tripal_chado/src/api/tripal_chado.schema.api.php
  tripal_chado/tests/src/Functional/Database/ChadoSchemaTest.php
  tripal_chado/tests/src/Functional/Services/chadoInstallerTest.php
  tripal_chado/tests/src/Functional/api/ChadoComplianceTest.php
  tripal_chado/tests/src/Functional/api/ChadoCustomTablesAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoCvAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoDbAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoQueryAPITest.php
  tripal_chado/tests/src/Functional/api/ChadoVariablesAPITest.php
  tripal_chado/tests/src/Functional/api/SchemaAPITest.php
  tripal_chado/tests/src/Kernel/Task/ChadoInstallerTest.php
Labels: Tripal 4, Group 9 - Automated Testing
