Repository tripal/tripal, pull requests merged in 2024-06, with the labels that each got.

#1881 May 2024 typo corrections
  tripal/config/install/tripal.settings.yml
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Plugin/Field/FieldWidget/TripalTextTypeWidget.php
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/Services/TripalJob.php
  tripal/src/Services/TripalPublish.php
  tripal/src/TripalDBX/TripalDbxConnection.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/src/TripalPubParser/PluginManagers/TripalPubParserManager.php
  tripal/src/api/tripal.upload.api.php
  tripal/tripal.links.task.yml
  tripal/tripal.module
  tripal_biodb/src/Task/BioTaskInterface.php
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/ChadoCustomTables/ChadoMview.php
  tripal_chado/src/Form/ChadoCustomTableForm.php
  tripal_chado/src/Form/ChadoMviewForm.php
  tripal_chado/src/Form/ChadoNewPubSearchQueryForm.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/Services/ChadoTermsInit.php
  tripal_chado/src/Task/ChadoCloner.php
  tripal_chado/src/Task/ChadoInstaller.php
  tripal_chado/src/Task/ChadoIntegrator.php
  tripal_chado/src/Task/ChadoPreparer.php
  tripal_chado/src/Task/ChadoRemover.php
  tripal_chado/src/Task/ChadoRenamer.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/src/api/tripal_chado.custom_tables.api.php
  tripal_chado/src/api/tripal_chado.property.api.php
  tripal_chado/src/api/tripal_chado.query.api.php
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/fixtures/fill_chado_test_temp.sql
  tripal_chado/tests/fixtures/fill_public_test_prepare.sql
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1885 GFF3 loader add some additional logger messages when creating terms or DBs
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Community - Enhancement, Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1887 Add missing tripal icon for admin "Manage" toolbar
  tripal/css/tripal.toolbar.css
  tripal/miscellaneous/icons/000000/tripal.png
  tripal/miscellaneous/icons/000000/tripal.svg
  tripal/miscellaneous/icons/787878/tripal.png
  tripal/miscellaneous/icons/787878/tripal.svg
Labels: Tripal 4, Group 0 - General Maintenance, Group 7 - Page Display, Easy PR Review 😀

#1878 Render HTML tags in page titles, e.g. organism scientifc name
  tripal/.tripal.routing.yml.swp
  tripal/config/install/tripal.settings.yml
  tripal/config/schema/tripal.settings.schema.yml
  tripal/src/Form/TripalEntitySettingsForm.php
  tripal/src/ListBuilders/TripalEntityListBuilder.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal/tripal.links.menu.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
Labels: Tripal 4, Group 7 - Page Display

#1890 Add Drupal 10.3 to automated testing
  .github/workflows/ALL-phpunit.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_3x.yml
  README.md
  tripal/src/TripalDBX/TripalDbxSchema.php
Labels: Tripal 4, Group 0 - General Maintenance, Group 9 - Automated Testing

#1889 Fields move record_id_term to parent class
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactByRoleTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceCoordinatesDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1899 Remove Drupal 10.0 and 10.1
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_3x.yml
  README.md
  composer.json
  composer.lock
  tripal/tripal.info.yml
  tripal_biodb/tripal_biodb.info.yml
  tripal_chado/tripal_chado.info.yml
  tripal_layout/tripal_layout.info.yml
  tripaldocker/Dockerfile-php8.1
  tripaldocker/Dockerfile-php8.2
Labels: Tripal 4, Group 0 - General Maintenance, Group 9 - Automated Testing

#1892 Unpublish UI
  tripal/src/Entity/TripalEntity.php
  tripal/src/Form/TripalEntityDeleteForm.php
  tripal/src/Form/TripalEntityForm.php
  tripal/src/Form/TripalEntityUnpublishForm.php
  tripal/src/ListBuilders/TripalEntityListBuilder.php
  tripal/src/Routing/TripalEntityHtmlRouteProvider.php
  tripal/tests/src/Functional/Permissions/TripalRoutePermissionsTest.php
  tripal/tripal.links.task.yml
  tripal/tripal.routing.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1882 Tv4g1 issue1843 publishing cardinality
  tripal/src/Services/TripalPublish.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal/src/TripalVocabTerms/PluginManagers/TripalCollectionPluginManager.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1901 remove duplicated yaml
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
Labels: bug - potential, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1903 Tripal 4 yml typos
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/fixtures/fill_chado_test_temp.sql
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1905 OBO importer - fix unsubstituted message
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing, Easy PR Review 😀

#1909 Fix ogi CV definition
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1842 Automated Field Testing: focused on the field creation forms in Drupal 10.2+
  tripal/config/schema/tripal_entity_type.schema.yml
  tripal/src/TripalVocabTerms/TripalIdSpaceBase.php
  tripal_chado/tests/src/Functional/Plugin/Fields/CreateEditFieldForms/BasicDataTypeChadoFieldTest.php
  tripal_chado/tests/src/Functional/Plugin/Fields/CreateEditFieldForms/README.md
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 9 - Automated Testing

#1907 Rename duplicated terms in tcontact.obo
  tripal_chado/files/tcontact.obo
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1917 Update TripalJobs to support callables instead of only functions.
  tripal/src/Controller/TripalJobController.php
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/src/Services/TripalJob.php
  tripal/src/Services/TripalPublish.php
  tripal/src/api/tripal.jobs.api.php
  tripal/src/api/tripal.publish.api.php
  tripal/tests/src/Kernel/Services/TripalJob/CallablesJobTest.php
  tripal/tests/src/Kernel/Services/TripalJob/FakeClasses/callableClassForTripalJobs.php
  tripal/tests/src/Kernel/Services/TripalJob/FakeClasses/single_include.php
  tripal/tripal.module
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
  tripal_chado/tests/src/Kernel/Services/TripalPublishServiceTest.php
Labels: Tripal 4, Group 3 - Job Management

#1912 ChadoStorage::deleteValues()
  tripal/src/Entity/TripalEntity.php
  tripal/src/Form/TripalEntityDeleteForm.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/fixtures/TripalusDatabasicaChr1Genes.sql
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageDeleteValuesTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoStorageFindValuesTest-FieldDefinitions.yml
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1918 Synonym field was broken on Drupal ≥ 10.2
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactByRoleTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1877 1815 Handle locked (or not locked) materialized views better functionality
  tripal_chado/config/install/views.view.chado_custom_tables.yml
  tripal_chado/config/install/views.view.chado_mviews.yml
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/Form/ChadoCustomTableForm.php
  tripal_chado/src/Form/ChadoMviewForm.php
  tripal_chado/src/Plugin/views/field/ChadoMviewsEditLink.php
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 2 - Data Storage | Tripal DBX | Chado, waiting on changes
