Repository tripal/tripal, pull requests merged in 2024-09, with the labels that each got.

#1965 Handle inline template and link for HTML replacements in the title
  tripal/tripal.module
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields

#1921 Revert one change from PR #1882
  tripal_chado/src/TripalStorage/ChadoRecords.php
Labels: bug - confirmed, Release Blocker, Tripal 4, waiting on tagged user, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1968 Ensure TripalFields can be added through UI and add some tests
  tripal/src/Plugin/Field/FieldType/TripalBooleanTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalIntegerTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalStringTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalTextTypeItem.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeCRUDTest.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeSettingsTest.php
  tripal/tests/src/Traits/TripalFieldTestTrait.php
  tripal/tests/src/Traits/TripalTestTrait.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Group 9 - Automated Testing, Easy PR Review 😀

#1958 Fix the "Remove" button on field widgets
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAnalysisWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoArrayDesignWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAssayWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoBiomaterialWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoFeatureMapWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoFeatureWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoOrganismWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoProjectWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertySelectWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertyStringWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertyWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoProtocolWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPubWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStockWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStudyWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSynonymWidgetDefault.php
  tripal_chado/src/TripalField/ChadoWidgetBase.php
  tripal_chado/tripal_chado.install
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado

#1952 fix publish to store placeholders of proper type
  tripal/src/Plugin/TripalStorage/DrupalSqlStorage.php
  tripal/src/Services/TripalPublish.php
  tripal/src/TripalStorage/BoolStoragePropertyType.php
  tripal/src/TripalStorage/DateTimeStoragePropertyType.php
  tripal/src/TripalStorage/IntStoragePropertyType.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/RealStoragePropertyType.php
  tripal/src/TripalStorage/StoragePropertyValue.php
  tripal/src/TripalStorage/TextStoragePropertyType.php
  tripal/src/TripalStorage/VarCharStoragePropertyType.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#1978 Update ChadoProperty Text widget to support filtered HTML
  tripal/config/schema/tripal.schema.yml
  tripal/tests/src/Traits/TripalTestTrait.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoPropertyFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertyWidgetDefault.php
  tripal_chado/tests/src/Functional/Plugin/Fields/CreateEditFieldForms/BasicDataTypeChadoFieldTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoField/FieldType/ChadoPropertyTypeSimpleCRUDTest.php
  tripal_chado/tests/src/Kernel/Services/TripalPublishServiceTest.php
  tripal_chado/tests/src/Traits/ChadoFieldTestTrait.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - High

#1962 Fix dbxref "Add another item" bug
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/src/TripalField/ChadoWidgetBase.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - High

#1938 Chado property buddy
  tripal_chado/src/ChadoBuddy/ChadoBuddyPluginBase.php
  tripal_chado/src/Plugin/ChadoBuddy/ChadoCvtermBuddy.php
  tripal_chado/src/Plugin/ChadoBuddy/ChadoPropertyBuddy.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoCvtermBuddyTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoDbxrefBuddyTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoPropertyBuddyTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoBuddy/ChadoTestBuddyBase.php
Labels: Group 2 - Data Storage | Tripal DBX | Chado

#1944 GFF3 importer now uses buddies
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/tests/src/Functional/Plugin/GFF3ImporterTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/GFF3ImporterFormTest.php
Labels: Group 4 - Data Importing, Group 10 - Performance

#1967 Provide validation for already-used field terms
  tripal/src/TripalField/TripalFieldItemBase.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Medium
