Repository tripal/tripal, pull requests merged in 2024-11, with the labels that each got.

#2018 Fixes bug in discovery, cv should have been db for termIdSpace
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2005 Install and configure gin admin theme.
  Dockerfile
  tripal/css/tripal.toolbar.css
  tripal/css/tripal_entity.add_content.css
  tripal/css/tripal_entity.form.css
  tripal/css/tripal_entity_type.listbuilder.css
  tripal/css/tripal_entity_type.variables.css
  tripal/src/Controller/TripalEntityUIController.php
  tripal/src/Form/TripalEntityForm.php
  tripal/src/ListBuilders/TripalEntityTypeListBuilder.php
  tripal/templates/tripal-entity-content-add-list.html.twig
  tripal/tripal.libraries.yml
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.css
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/tripal_chado.libraries.yml
  tripaldocker/drupal.Dockerfile
Labels: Group 0 - General Maintenance, Priority - Low

#1991 Publish duplicated titles, and multi-bundle chado tables
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/src/Services/TripalEntityLookup.php
  tripal/src/TripalBackendPublish/Annotation/TripalBackendPublish.php
  tripal/src/TripalBackendPublish/Exceptions/TripalPublishException.php
  tripal/src/TripalBackendPublish/Interfaces/TripalBackendPublishInterface.php
  tripal/src/TripalBackendPublish/PluginManager/TripalBackendPublishManager.php
  tripal/src/TripalBackendPublish/TripalBackendPublishBase.php
  tripal/tripal.services.yml
  tripal_chado/src/Commands/ChadoManageCommands.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalBackendPublish/ChadoPublishTest.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2013 Inhibit additional type field discovery if field already exists
  tripal/src/Form/TripalContentFieldsForm.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalField/Interfaces/TripalFieldItemInterface.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/TripalVocabTerms/TripalTerm.php
  tripal/tests/modules/tripal_test/src/Plugin/Field/FieldType/TripalTestTextTypeItem.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - Medium

#2019 TripalEntity form upgrades to match NodeForm
  tripal/css/tripal.toolbar.css
  tripal/css/tripal_entity.add_content.css
  tripal/miscellaneous/icons/tripal-outline.svg
  tripal/src/Entity/TripalEntity.php
  tripal/src/Form/TripalEntityForm.php
  tripal/tests/src/Functional/Permissions/TripalRoutePermissionsTest.php
  tripal/tripal.module
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.css
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_layout/config/install/tripal_layout.tripal_layout_default_form.general_form.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 7 - Page Display, Priority - High

#1981 add path alias to tripal entity base class
  tripal/src/Entity/TripalEntity.php
  tripal/src/Form/TripalEntityForm.php
  tripal/tests/src/Functional/Entity/EntityAccessTest.php
  tripal/tests/src/Functional/Entity/TripalContentTest.php
  tripal/tests/src/Functional/Permissions/TripalRoutePermissionsTest.php
  tripal/tests/src/Functional/Services/TripalFieldCollectionTest.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionCreateTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionInstallTest.php
  tripal/tests/src/Kernel/Services/TripalEntityTypeCollection/TripalEntityTypeCollectionValidateTest.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeCRUDTest.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeSettingsTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterBaseTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormBuildTest.php
  tripal/tests/src/Kernel/TripalImporter/TripalImporterFormSubmitTest.php
  tripal/tests/src/Kernel/TripalTestKernelBase.php
  tripal/tests/src/Traits/TripalFieldTestTrait.php
  tripal/tests/src/Traits/TripalTestTrait.php
  tripal/tripal.info.yml
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/tests/src/Functional/Plugin/Fields/CreateEditFieldForms/BasicDataTypeChadoFieldTest.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoField/FieldType/ChadoPropertyTypeSimpleCRUDTest.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoStorage/ChadoLinkerPropertyDefaultTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalBackendPublish/ChadoPublishTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ChadoImporterBaseTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ChadoImporterTransactionTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/FASTAImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/GFF3ImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/OBOImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/TaxonomyImporterFormTest.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
  tripal_chado/tests/src/Traits/ChadoFieldTestTrait.php
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: Follow-up Needed, Group 1 - Tripal Content Types | Terms | Fields

#2023 Published content now has an author & anonymous no longer WSODs
  tripal/src/Form/TripalEntityForm.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 0 - General Maintenance, Easy PR Review 😀

#2026 Define third-party schema in tripal entity type as well
  tripal_chado/tripal_chado.module
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Priority - Medium

#1927 Taxonomy loader split
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/src/Plugin/TripalImporter/TaxonomyImporter.php
  tripal_chado/src/Plugin/TripalImporter/TreeGenerator.php
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tests/src/Functional/Plugin/TaxonomyImporterTest.php
  tripal_chado/tests/src/Functional/Plugin/TreeGeneratorTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ChadoImporterBaseTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/FASTAImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/GFF3ImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/OBOImporterFormTest.php
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/TaxonomyImporterFormTest.php
  tripal_chado/tripal_chado.install
Labels: Group 4 - Data Importing

#2027 re-add updated importer prepareEnvironment
  tripal_chado/tests/src/Kernel/Plugin/TripalImporter/ImporterFormTest.php
Labels: Priority - URGENT!, Group 4 - Data Importing

#2021 Adds support for advanced sidebar and vertical tabs
  tripal_layout/config/install/tripal_layout.tripal_layout_default_form.general_form.yml
  tripal_layout/src/Controller/TripalEntityUILayoutController.php
Labels: Group 7 - Page Display

#2029 publication title and pyear are nullable, or so says chado
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/tripal_chado.install
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀
