Repository tripal/tripal, pull requests merged in 2024-05, with the labels that each got.

#1868 Fields Code cleanup : Tv4g0 issue1866 code cleanup and tv4g10-issue1699-remove-unneeded-use-statements
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoAdditionalTypeFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoBooleanFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoIntegerFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoPropertyFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSequenceFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoStringFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoSynonymFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoTextFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoBooleanWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoIntegerWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertySelectWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertyStringWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPropertyWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStringWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSynonymWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoTextWidgetDefault.php
Labels: Tripal 4, Group 0 - General Maintenance, Group 10 - Performance

#1874 Fix sequence coordinates widget when creating new feature
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoSequenceCoordinatesWidgetDefault.php
Labels: bug - confirmed, Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1865 Implement the fallback entity lookup
  tripal/src/Services/TripalEntityLookup.php
  tripal/tests/src/Traits/TripalTestTrait.php
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
  tripal_chado/tripal_chado.install
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1871 URL and name field filters default to plain text
  tripal/config/schema/tripal.schema.yml
  tripal/src/Services/TripalEntityLookup.php
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1875 Chado Contact by Role field
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactByRoleTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1869 Checking for new fields
  tripal/src/Controller/TripalEntityUIController.php
  tripal/src/Form/TripalContentFieldsForm.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal/src/TripalField/Interfaces/TripalFieldItemInterface.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/tests/modules/tripal_test/src/Plugin/Field/FieldType/TripalTestTextTypeItem.php
  tripal/tests/modules/tripal_test/tripal_test.info.yml
  tripal/tests/src/Functional/Services/TripalFieldCollectionTest.php
  tripal/tripal.routing.yml
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_layout/config/install/tripal_layout.tripal_layout_default_view.genomic_view.yml
  tripal_layout/src/Controller/TripalEntityUILayoutController.php
  tripal_layout/tripal_layout.routing.yml
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields
