Repository tripal/tripal, pull requests merged in 2024-12, with the labels that each got.

#2049 Fix install issue when Tripal is installed by a distribution (profile)
  tripal/tripal.install
Labels: Group 0 - Maintenance | Docker | Misc

#2051 EBI obo ontology fix for automated tests
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
Labels: Group 4 - Data Importing, Group 9 - Automated Testing, Priority - High

#2043 implement is_required check
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - High

#2064 Add term validation when using fixed type on Additional Type field
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#2054 Handle new DB or CV created by importer, add to collections
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalVocabTerms/PluginManagers/TripalCollectionPluginManager.php
  tripal/src/TripalVocabTerms/TripalTerm.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/TripalIdSpace/ChadoIdSpace.php
  tripal_chado/src/Plugin/TripalImporter/OBOImporter.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Functional/Plugin/ChadoVocabTermsTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - High

#2040 Decouple token parser
  tripal/src/Entity/TripalEntity.php
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Form/TripalEntityForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Services/TripalTokenParser.php
  tripal/src/TripalBackendPublish/TripalBackendPublishBase.php
  tripal/src/api/tripal.entities.api.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityTest.php
  tripal/tests/src/Kernel/Services/TripalTokenParser/TripalTokenParserTest.php
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
Labels: Group 8 - Other Integrations, Priority - Medium

#2063 Add character column type to string field type
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
Labels: bug - potential, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Low

#2069 Fix publish leak-through from content types sharing a chado table
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2060 Remove field debugger devel module dependency
  tripal_chado/src/Services/ChadoFieldDebugger.php
  tripal_chado/tripal_chado.services.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - Low

#2071 Remove some obsolete files
  tripal/config/install/tripaldbx.settings.yml
  tripal/config/schema/tripaldbx.schema.yml
  tripal/src/Services/TripalPublish.php
Labels: Group 0 - Maintenance | Docker | Misc, Easy PR Review 😀

#2055 Add support for postgresql 17, Debian 12
  .devcontainer.json
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_4x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_5x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_4x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_5x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_3x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_4x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_5x.yml
  .github/workflows/MAIN-phpunit-php8.3_D11_0x.yml
  .github/workflows/MAIN-phpunit-php8.3_D11_1x.yml
  .github/workflows/SCHEDULE-buildDrupalDocker.yml
  Dockerfile
  README.md
  tripal_chado/chado_schema/chado-only-1.3.sql
  tripal_chado/chado_schema/default_schema-1.31/README.md
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-chado.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-frange-functions.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-frange.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-functions.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-genetic_code.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-so-functions.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-so.sql
  tripal_chado/chado_schema/default_schema-1.31/default_schema-1.31-views.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part1.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part3.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part36.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part40.sql
  tripal_chado/chado_schema/parts-v1.3/default_schema-1.3.part41.sql
  tripal_chado/tests/fixtures/test_schema.sql
  tripaldocker/drupal.Dockerfile
Labels: Group 0 - Maintenance | Docker | Misc, Group 9 - Automated Testing, Priority - Medium

#2052 Provides Page Title Format validation for both UI and publish
  tripal/src/Form/TripalEntityForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2006 Citation generation service
  tripal/src/Services/TripalCitationManager.php
  tripal/tests/src/Kernel/Services/TripalCitation/TripalCitationTest.php
  tripal/tripal.services.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 4 - Data Importing, Priority - Medium

#2070 Fix null warning
  tripal_chado/src/Database/ChadoConnection.php
Labels: Group 2 - Data Storage | Tripal DBX | Chado, Easy PR Review 😀

#2035 Tripal 3 migration of existing entity ID (bio_data) values
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormTest.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormWithMockTest.php
  tripal_chado/migration/export_tripal3_entity_mapping.php
  tripal_chado/src/Commands/ChadoManageCommands.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 0 - Maintenance | Docker | Misc, Priority - High
