Repository tripal/tripal, pull requests merged in 2024-10, with the labels that each got.

#1988 Create xdebug_output directory for performance profiling results and debugging in general
  tripaldocker/xdebug_output/README.md
Labels: Group 0 - General Maintenance, Easy PR Review 😀

#1990 Fix the brittle PubMed test
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal_chado/tests/src/Functional/Plugin/TripalPubLibraryTest.php
Labels: Group 9 - Automated Testing

#1977 Publish update - no drupal records when no chado records
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/Services/TripalPublish.php
  tripal/src/Services/TripalTokenParser.php
  tripal/tests/src/Functional/Services/TripalTokenParserTest.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Functional/Services/ChadoTripalPublishTest.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Priority - Medium

#1993 Add in schema for options all supported tripal_layout field group options.
  tripal_layout/config/schema/tripal_layout.schema.yml
Labels: Group 7 - Page Display, Easy PR Review 😀

#1983 Publishing in batches
  tripal/src/Services/TripalPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Priority - Medium

#1998 Github workflow forces people to accept chado :-p
  .github/workflows/MAIN-buildDocker.yml
Labels: bug - confirmed, Group 0 - General Maintenance, Easy PR Review 😀

#1971 configurable mechanism for hiding fields when they have an "empty" value
  tripal/config/schema/tripal.schema.yml
  tripal/src/Entity/TripalEntity.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalBooleanTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalIntegerTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalStringTypeFormatter.php
  tripal/src/Plugin/Field/FieldFormatter/DefaultTripalTextTypeFormatter.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 7 - Page Display, Priority - Medium

#2001 Fix docker build failing as of Drush 13.3.0
  Dockerfile
Labels: Priority - URGENT!, Group 0 - General Maintenance, Easy PR Review 😀

#2002 Fix url template for custom content types
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Services/TripalTokenParser.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#2011 fix issue #2010
  tripal/src/Services/TripalFieldCollection.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - High
