Repository tripal/tripal, pull requests merged in 2024-03, with the labels that each got.

#1813 Update remaining t4d8 references
  composer.json
  tripal/tripal.permissions.yml
  tripal_chado/tests/fixtures/regenerate_scripts/regenerate_fill_test_prepare.sh
  tripaldocker/legacy/Dockerfile
Labels: Tripal 4, Group 0 - General Maintenance, Easy PR Review 😀

#1814 Ensure that Tripal Layout is installed in our dockers
  tripaldocker/Dockerfile-php8.1-pgsql13
  tripaldocker/Dockerfile-php8.2-pgsql13
  tripaldocker/Dockerfile-php8.3-pgsql13
Labels: Tripal 4, Group 0 - General Maintenance

#1806 Publication Importer - V3
  tripal/src/TripalPubLibrary/PluginManagers/TripalPubLibraryManager.php
  tripal/tripal.install
  tripal/tripal.services.yml
  tripal_chado/src/Form/ChadoDeletePubSearchQueryForm.php
  tripal_chado/src/Form/ChadoManagePubSearchQueriesForm.php
  tripal_chado/src/Form/ChadoNewPubSearchQueryForm.php
  tripal_chado/tests/src/Functional/Plugin/TripalPubLibraryTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Tripal 4, Group 4 - Data Importing

#1805 New base table third party setting + Drupal 10.2 fixes
  tripal/config/schema/tripal.schema.yml
  tripal/css/tripal.field_ui.css
  tripal/src/Plugin/Field/FieldType/TripalBooleanTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalIntegerTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalStringTypeItem.php
  tripal/src/Plugin/Field/FieldType/TripalTextTypeItem.php
  tripal/src/Services/TripalEntityTypeCollection.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/tripal.field_type_categories.yml
  tripal/tripal.libraries.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalentitytype_collection.germplasm_chado.yml
  tripal_chado/css/tripal_chado.field_ui.css
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceCoordinatesDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSourceDataTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAdditionalTypeWidgetDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tripal_chado.field_type_categories.yml
  tripal_chado/tripal_chado.install
  tripal_chado/tripal_chado.libraries.yml
  tripal_chado/tripal_chado.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields

#1790 CV terms on all fields
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/tripal.module
Labels: Tripal 4, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#1821 Postgresql version settable for building a docker
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_2x.yml
  Dockerfile
  README.md
  tripaldocker/Dockerfile-php8.1
  tripaldocker/Dockerfile-php8.2
  tripaldocker/Dockerfile-php8.3
Labels: Tripal 4, Group 0 - General Maintenance

#1830 Fix automated testing on 4.x
  .github/workflows/ALL-phpunit.yml
  .github/workflows/ALL-testCoverage-codeclimate.yml
  .github/workflows/MAIN-buildDocker.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.1_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_0x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_1x.yml
  .github/workflows/MAIN-phpunit-php8.2_D10_2x.yml
  .github/workflows/MAIN-phpunit-php8.3_D10_2x.yml
Labels: Tripal 4, Group 9 - Automated Testing

#1835 GFF importer, fix loading gene sequence from FASTA section
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: bug - confirmed, Tripal 4, Group 4 - Data Importing

#1834 Add IPv6 loopback to support docker v26
  tripaldocker/default_files/postgresql/pg_hba.conf
Labels: Tripal 4, Group 0 - General Maintenance
