Repository tripal/tripal, pull requests merged in 2025-04, with the labels that each got.

#2189 Provide correct phpunit.xml version in 10.x docker images
  Dockerfile
Labels: bug - confirmed, Group 9 - Automated Testing, Easy PR Review 😀, Priority - High

#2185 ChadoIdSpace/ChadoVocabulary Missing Values
  tripal/src/TripalVocabTerms/PluginManagers/TripalCollectionPluginManager.php
  tripal_chado/src/Plugin/TripalIdSpace/ChadoIdSpace.php
  tripal_chado/src/Plugin/TripalVocabulary/ChadoVocabulary.php
  tripal_chado/tests/src/Kernel/Plugin/TripalVocabTerms/ChadoVocabTermsTest.php
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: bug - potential, Group 1 - Tripal Content Types | Terms | Fields, Priority - High

#2188 Resolve high memory consumption during publish
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 10 - Performance, Easy PR Review 😀, Priority - Medium

#2174 Import pubs in batches
  tripal/src/Form/PubSearchQueryForm.php
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/TripalPubLibrary/Interfaces/TripalPubLibraryInterface.php
  tripal/src/TripalPubLibrary/TripalPubLibraryBase.php
  tripal/src/TripalPubParser/PluginManagers/TripalPubParserManager.php
  tripal_chado/src/Plugin/TripalImporter/PubSearchQueryImporter.php
Labels: Group 4 - Data Importing, Priority - High

#2190 Repair widget remove button
  tripal/src/Entity/TripalEntity.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoDbxrefWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalField/ChadoWidgetBase.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - High

#2191 Use phpunit 9.6 for any 10.x drupal version
  .github/workflows/ALL-phpunit.yml
  Dockerfile
  tripaldocker/select_phpunit.sh
Labels: bug - confirmed, Group 9 - Automated Testing, Priority - Medium

#2128 Create the Chado relationship field
  tripal/src/Entity/TripalEntity.php
  tripal/src/Services/TripalEntityLookup.php
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genetic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.germplasm_chado.yml
  tripal_chado/src/Controller/ChadoCVTermAutocompleteController.php
  tripal_chado/src/Plugin/Field/FieldFormatter/ChadoRelationshipFormatterDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoRelationshipTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoRelationshipWidgetDefault.css
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoRelationshipWidgetDefault.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/tests/src/Kernel/Services/TripalEntityLookupServiceTest.php
  tripal_chado/tripal_chado.install
  tripal_chado/tripal_chado.libraries.yml
  tripal_chado/tripal_chado.module
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2186 Organism autocomplete
  tripal_chado/src/Controller/ChadoOrganismAutocompleteController.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoOrganismWidgetDefault.php
  tripal_chado/tests/src/Kernel/Controller/ChadoAutocompleteControllerTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Easy PR Review 😀, Priority - Medium

#2194 Warn if entity title is blank
  tripal/src/Entity/TripalEntity.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Low
