Repository tripal/tripal, pull requests merged in 2025-02, with the labels that each got.

#2075 Widgets should use autocompletes when there are many records
  tripal/config/schema/tripal.schema.yml
  tripal/src/Form/TripalEntitySettingsForm.php
  tripal/tripal.links.menu.yml
  tripal_chado/src/Controller/ChadoGenericAutocompleteController.php
  tripal_chado/src/Controller/ChadoProjectAutocompleteController.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAnalysisWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoArrayDesignWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoAssayWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoBiomaterialWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoContactWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoFeatureMapWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoFeatureWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoOrganismWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoProjectWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoProtocolWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoPubWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStockWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoStudyWidgetDefault.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoUnitWidgetDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/src/TripalField/ChadoWidgetBase.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableCvtermAutocompleteTest.php
  tripal_chado/tests/src/Functional/Controller/ChadoTableProjectAutocompleteTest.php
  tripal_chado/tests/src/Kernel/Controller/ChadoGenericAutocompleteControllerTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Priority - High

#1937 Support Chado Flyway Migrations
  tripal_chado/chado_schema/migrations/README.md
  tripal_chado/chado_schema/migrations/V1.3.3.001__add_stock_biomat_table.sql
  tripal_chado/chado_schema/migrations/V1.3.3.002__add_db_relationship_table.sql
  tripal_chado/chado_schema/migrations/V1.3.3.003__alter_analysis_unique_constraint.sql
  tripal_chado/chado_schema/migrations/V1.3.3.004__add_synoynm_indices_cvtermsynonym.sql
  tripal_chado/chado_schema/migrations/V1.3.3.005__add_type_id_2_project_table.sql
  tripal_chado/chado_schema/migrations/V1.3.3.006__modify_mage.sql
  tripal_chado/chado_schema/migrations/V1.3.3.007__fix_search_path.sql
  tripal_chado/chado_schema/migrations/V1.3.3.008__add_is_obsolete_cell_line_table.sql
  tripal_chado/chado_schema/migrations/V1.3.3.009__update_analysis_desc.sql
  tripal_chado/chado_schema/migrations/V1.3.3.011__fix_db_relationship_type_id.sql
  tripal_chado/chado_schema/migrations/V1.3.3.013__add_type_id_to_contact_and_project_linkers.sql
  tripal_chado/chado_schema/migrations/tripal_chado.chado_migrations.yml
  tripal_chado/js/chado_table.js
  tripal_chado/src/Form/ChadoManagerForm.php
  tripal_chado/src/Task/ChadoApplyMigrations.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/tests/src/Kernel/Task/ChadoUpgraderTest.php
  tripal_chado/tripal_chado.install
  tripal_chado/tripal_chado.links.menu.yml
  tripal_chado/tripal_chado.routing.yml
  tripal_chado/tripal_chado.services.yml
Labels: Group 2 - Data Storage | Tripal DBX | Chado, Priority - High

#2109 Implement approach to update Drupal field tables following a chado schema update.
  tripal/src/Commands/TripalCommands.php
  tripal/src/Entity/TripalEntityType.php
  tripal/src/Services/SyncTripalFieldStorage.php
  tripal/tripal.services.yml
  tripal_chado/src/Database/ChadoConnection.php
  tripal_chado/src/Task/ChadoApplyMigrations.php
  tripal_chado/tests/src/Kernel/Services/SyncTripalFieldStorage/SyncTripalFieldStorageTest.php
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Priority - High

#2115 Drush command to apply Chado migrations
  Dockerfile
  tripal_chado/src/Commands/ChadoManageCommands.php
  tripal_chado/src/Task/ChadoApplyMigrations.php
Labels: Group 0 - Maintenance | Docker | Misc, Group 2 - Data Storage | Tripal DBX | Chado, Priority - Low

#2112 Fix deprecations
  Dockerfile
  tripal/src/api/tripal.viewsdata.inc
  tripal/templates/tripal-entity-content-add-list.html.twig
  tripal/tripal.module
  tripal_chado/src/api/tripal_chado.viewsdata.inc
  tripal_chado/tripal_chado.module
  tripaldocker/drupal.Dockerfile
Labels: Group 0 - Maintenance | Docker | Misc, Easy PR Review 😀

#2117 Setup a Tripal Content Type Listing View
  tripal/config/install/views.view.tripal_content_type_listing.yml
  tripal/tripal.module
Labels: Group 5 - Search | ElasticSearch | Views

#1960 Publication Importer Version 5
  tripal/config/install/views.view.manage_pub_search_queries.yml
  tripal/css/tripal.importer.css
  tripal/src/Controller/PubSearchQueryNameAutocompleteController.php
  tripal/src/Form/DeletePubSearchQueryForm.php
  tripal/src/Form/PubSearchQueryForm.php
  tripal/src/Form/TripalFieldCollectionDeleteForm.php
  tripal/src/Form/TripalImporterForm.php
  tripal/src/Plugin/Derivative/TripalImporterLink.php
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/Plugin/views/field/Criteria.php
  tripal/src/Plugin/views/field/Disabled.php
  tripal/src/Plugin/views/field/DoContact.php
  tripal/src/TripalImporter/Annotation/TripalImporter.php
  tripal/src/TripalPubLibrary/Interfaces/TripalPubLibraryInterface.php
  tripal/src/TripalPubLibrary/PluginManagers/TripalPubLibraryManager.php
  tripal/src/TripalPubLibrary/TripalPubLibraryBase.php
  tripal/src/TripalPubParser/PluginManagers/TripalPubParserManager.php
  tripal/src/api/tripal.publish.api.php
  tripal/src/api/tripal.viewsdata.inc
  tripal/tests/src/Kernel/Controller/PubSearchQueryNameAutocompleteControllerTest.php
  tripal/tripal.libraries.yml
  tripal/tripal.links.menu.yml
  tripal/tripal.module
  tripal/tripal.routing.yml
  tripal_chado/src/Form/ChadoDeletePubSearchQueryForm.php
  tripal_chado/src/Form/ChadoManagePubSearchQueriesForm.php
  tripal_chado/src/Form/ChadoNewPubSearchQueryForm.php
  tripal_chado/src/Plugin/TripalImporter/PubSearchQueryImporter.php
  tripal_chado/src/TripalImporter/ChadoImporterBase.php
  tripal_chado/tests/src/Functional/Plugin/PubSearchQueryImporterTest.php
  tripal_chado/tests/src/Functional/Plugin/TripalPubLibraryTest.php
  tripal_chado/tripal_chado.links.menu.yml
  tripal_chado/tripal_chado.routing.yml
Labels: Group 4 - Data Importing, Priority - High

#2118 Only log once for jobs
  tripal/src/Services/TripalLogger.php
  tripal/src/TripalImporter/TripalImporterBase.php
Labels: Group 4 - Data Importing, Easy PR Review 😀, Priority - Low

#2124 Create tripal_entity_type canonical path to fix WSOD
  tripal/src/Entity/TripalEntityType.php
  tripal/templates/tripal_entity_type.html.twig
  tripal/templates/tripal_entity_type.page.php
  tripal/tripal.module
Labels: Priority - URGENT!, Group 1 - Tripal Content Types | Terms | Fields, Group 5 - Search | ElasticSearch | Views, Group 7 - Page Display

#2130 Allow field property types to know which ID Space plugin should be used if ID Space is missing.
  tripal/src/TripalStorage/BoolStoragePropertyType.php
  tripal/src/TripalStorage/DateTimeStoragePropertyType.php
  tripal/src/TripalStorage/IntStoragePropertyType.php
  tripal/src/TripalStorage/RealStoragePropertyType.php
  tripal/src/TripalStorage/StoragePropertyBase.php
  tripal/src/TripalStorage/StoragePropertyTypeBase.php
  tripal/src/TripalStorage/TextStoragePropertyType.php
  tripal/src/TripalStorage/VarCharStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoBoolStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoBpCharStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoDateTimeStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoIntStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoRealStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoTextStoragePropertyType.php
  tripal_chado/src/TripalStorage/ChadoVarCharStoragePropertyType.php
  tripal_chado/tests/src/Kernel/Plugin/ChadoField/FieldType/ChadoPropertyTypeSimpleCRUDTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Priority - Medium

#2135 Reduce combinations slightly for Github workflows run on each commit to a PR.
  .github/workflows/ALL-phpunit.yml
Labels: Group 9 - Automated Testing

#2139 Ensure composer install works on all supported versions.
  .github/workflows/MAIN-composerInstall.yml
  README.md
  composer.json
Labels: bug - confirmed, Group 0 - Maintenance | Docker | Misc, Group 9 - Automated Testing, Easy PR Review 😀, Priority - High
