Repository tripal/tripal, pull requests merged in 2025-10, with the labels that each got.

#2260 Allow core fields to work on custom tables
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal_chado/src/ChadoCustomTables/ChadoCustomTable.php
  tripal_chado/src/ChadoCustomTables/ChadoMview.php
  tripal_chado/src/Entity/ChadoTermMapping.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBooleanTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoDbxrefTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoIntegerTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoRelationshipTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStringTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSynonymTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoTextTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/src/Services/ChadoCustomTableManager.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/src/TripalStorage/ChadoRecords.php
  tripal_chado/src/api/ChadoSchema.php
  tripal_chado/tests/src/Functional/ChadoCustomTables/ChadoCustomTableTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 2 - Data Storage | Tripal DBX | Chado, Priority - Medium, Ready to Merge :tada:

#2293 New Controller Class to replace the ChadoOrganismAutocompleteController
  tripal_chado/src/Controller/ChadoOrganismAutocompleteController.php
  tripal_chado/src/Controller/ChadoOrganismFormElementController.php
  tripal_chado/src/Plugin/Field/FieldWidget/ChadoOrganismWidgetDefault.php
  tripal_chado/src/Plugin/TripalImporter/FASTAImporter.php
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
  tripal_chado/tests/src/Kernel/Controller/ChadoAutocompleteControllerTest.php
  tripal_chado/tests/src/Kernel/Controller/ChadoOrganismFormElementControllerTest.php
  tripal_chado/tripal_chado.routing.yml
Labels: Group 1 - Tripal Content Types | Terms | Fields, Ready to Merge :tada:

#2301 Add missing optional parameter to getChadoForeignKeyDef()
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: bug - confirmed, Priority - URGENT!, Group 1 - Tripal Content Types | Terms | Fields, Ready to Merge :tada:

#2219 Drupal coding standards for publishing 📰
  tripal/src/Form/TripalEntityPublishForm.php
  tripal/src/TripalBackendPublish/Interfaces/TripalBackendPublishInterface.php
  tripal/src/TripalBackendPublish/PluginManager/TripalBackendPublishManager.php
  tripal/src/TripalBackendPublish/TripalBackendPublishBase.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormTest.php
  tripal/tests/src/Kernel/Services/TripalPublish/TripalPublishFormWithMockTest.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 0 - Maintenance | Docker | Misc, Easy PR Review 😀, Priority - Low
