Repository tripal/tripal, pull requests merged in 2025-03, with the labels that each got.

#2153 Logging error with mixed job types
  tripal/src/Services/TripalJob.php
Labels: Group 3 - Job Management, Easy PR Review 😀, Priority - High

#2145 Republish now updates already published fields
  tripal/src/Form/TripalEntityPublishForm.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2147 Streamline url alias and title save and move into the entity save directly
  tripal/src/Entity/TripalEntity.php
  tripal/src/Form/TripalEntityForm.php
  tripal/src/Form/TripalEntityTypeForm.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/StoragePropertyTypeBase.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal/tests/src/Functional/Permissions/TripalRoutePermissionsTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityFieldTest-TestInfo.yml
  tripal/tests/src/Kernel/Entity/TripalEntityFieldTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityTest.php
  tripal/tests/src/Kernel/Entity/TripalEntityTokenFormatsTest-TestInfo.yml
  tripal/tests/src/Kernel/Entity/TripalEntityTokenFormatsTest.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeCRUDTest.php
  tripal/tests/src/Kernel/TripalField/FieldType/TripalFieldTypeSettingsTest.php
  tripal/tests/src/Traits/TripalEntityFieldTestTrait.php
  tripal/tests/src/Traits/TripalFieldTestTrait.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Kernel/ChadoTestKernelBase.php
  tripal_chado/tests/src/Kernel/Entity/TripalEntityChadoFieldTest-TestInfo.yml
  tripal_chado/tests/src/Kernel/Entity/TripalEntityChadoFieldTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Priority - High

#2154 Add bundle token values for publish
  tripal/src/Entity/TripalEntityType.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/tests/src/Kernel/Plugin/TripalBackendPublish/ChadoPublishTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Priority - High

#2151 Support for calling publication importer directly from another importer
  tripal/src/Plugin/TripalPubLibrary/TripalPubLibraryPubMed.php
  tripal/src/TripalImporter/TripalImporterBase.php
  tripal/src/TripalPubLibrary/Interfaces/TripalPubLibraryInterface.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/src/Plugin/TripalImporter/PubSearchQueryImporter.php
  tripal_chado/tests/src/Functional/Plugin/PubSearchQueryImporterTest.php
Labels: Group 4 - Data Importing, Easy PR Review 😀, Priority - High

#2171 Clear cache for republished entities
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Medium

#2167 Enforce allowed title tags for publish and in tripal entity
  tripal/src/Entity/TripalEntity.php
  tripal/src/TripalBackendPublish/TripalBackendPublishBase.php
  tripal/tests/src/Kernel/Entity/TripalEntityFieldTest-TestInfo.yml
  tripal/tests/src/Kernel/Entity/TripalEntityFieldTest.php
  tripal/tests/src/Traits/TripalEntityFieldTestTrait.php
  tripal_chado/src/Plugin/TripalBackendPublish/ChadoPublish.php
  tripal_chado/tests/src/Kernel/Plugin/TripalBackendPublish/ChadoPublishTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Low

#2166 Implement field discovery for fields using a base table column
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceChecksumTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceLengthTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoSequenceTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoUnitTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Functional/Services/ChadoDiscoverTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Priority - Medium

#2160 Improve the performance of TripalEntity::load() by using the Drupal cache
  tripal/src/Entity/TripalEntity.php
  tripal/src/Plugin/TripalStorage/DrupalSqlStorage.php
  tripal/src/TripalStorage/Interfaces/TripalStorageInterface.php
  tripal/src/TripalStorage/TripalStorageBase.php
  tripal_chado/src/Plugin/TripalStorage/ChadoStorage.php
  tripal_chado/tests/src/Traits/ChadoStorageTestTrait.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Group 10 - Performance, Priority - High

#2181 Persistent publish form defaults
  tripal/src/Form/TripalEntityPublishForm.php
Labels: Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀, Priority - Low
