Repository tripal/tripal, pull requests merged in 2025-01, with the labels that each got.

#2079 Fix and prevent duplicated terms for fields
  tripal/src/Services/TripalFieldCollection.php
  tripal_chado/config/install/tripal.tripal_content_terms.chado_content_terms.yml
  tripal_chado/config/install/tripal.tripalfield_collection.expression_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.general_chado.yml
  tripal_chado/config/install/tripal.tripalfield_collection.genomic_chado.yml
  tripal_chado/tests/fixtures/fill_chado_test_prepare.sql
  tripal_chado/tripal_chado.install
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2076 Test across different schema.
  .devcontainer.json
  .gitignore
  tripal/src/TripalDBX/TripalDbxSchema.php
  tripal/tests/src/Kernel/TripalDBX/ConnectionTest.php
  tripal/tests/src/Kernel/TripalDBX/SchemaTest.php
  tripal/tests/src/Kernel/TripalDBX/TripalDbxFunctionalTest.php
  tripal_chado/chado_schema/chado-only/version-1.3.3.001.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.002.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.003.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.004.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.005.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.006.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.007.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.008.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.009.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.011.sql
  tripal_chado/chado_schema/chado-only/version-1.3.3.013.sql
  tripal_chado/chado_schema/chado-only/version-1.3.sql
  tripal_chado/chado_schema/schema-definition/version-1.3.3.001.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.002.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.003.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.004.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.005.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.006.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.007.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.008.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.009.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.011.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.3.013.yml
  tripal_chado/chado_schema/schema-definition/version-1.3.yml
  tripal_chado/src/Database/ChadoConnection.php
  tripal_chado/src/Database/ChadoSchema.php
  tripal_chado/src/Task/ChadoUpgrader.php
  tripal_chado/src/api/ChadoSchema.php
  tripal_chado/tests/fixtures/test_schema.sql
  tripal_chado/tests/src/Functional/Database/ChadoConnectionTest.php
  tripal_chado/tests/src/Functional/Database/ChadoSchemaTest.php
  tripal_chado/tests/src/Kernel/Task/ChadoUpgraderTest.php
  tripal_chado/tests/src/Kernel/TripalDBX/ChadoConnectionInheritedTest.php
  tripal_chado/tests/src/Kernel/TripalDBX/ChadoConnectionTest.php
  tripal_chado/tests/src/Kernel/TripalDBX/ChadoSchemaTest.php
  tripal_chado/tests/src/Traits/ChadoTestTrait.php
Labels: Group 2 - Data Storage | Tripal DBX | Chado, Group 9 - Automated Testing, Priority - Medium

#2081 Move local terms update hook + drush command
  tripal_chado/src/Commands/ChadoCheckTermsAgainstYaml.php
  tripal_chado/tripal_chado.install
Labels: Group 2 - Data Storage | Tripal DBX | Chado, Easy PR Review 😀

#2091 remove redundant preg_split
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
Labels: Easy PR Review 😀

#2093 Ensure it's not the same field when checking for existing terms.
  tripal/src/Services/TripalFieldCollection.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Priority - Medium

#2095 Ensure field has settings for view mode before adding them.
  tripal/src/Services/TripalFieldCollection.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields

#2088 GFF Importer dbxref without cvterm can cause error
  tripal_chado/src/Plugin/TripalImporter/GFF3Importer.php
Labels: Group 4 - Data Importing, Easy PR Review 😀

#2077 Implement discover() for linking fields
  tripal/src/Form/TripalContentFieldsForm.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal/tests/src/Functional/Services/TripalFieldCollectionTest.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAdditionalTypeTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAnalysisTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoArrayDesignTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoBiomaterialTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoContactTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureMapTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoFeatureTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoOrganismTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProjectTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoProtocolTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPubTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStockTypeDefault.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoStudyTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
  tripal_chado/tests/src/Functional/Services/ChadoDiscoverTest.php
Labels: Group 1 - Tripal Content Types | Terms | Fields

#2096 Resolves duplicated field names during discover
  tripal/src/Form/TripalContentFieldsForm.php
  tripal/src/Services/TripalFieldCollection.php
  tripal/src/TripalField/TripalFieldItemBase.php
  tripal_chado/src/Plugin/Field/FieldType/ChadoPropertyTypeDefault.php
  tripal_chado/src/TripalField/ChadoFieldItemBase.php
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀

#2099 Fix minor assay field bug
  tripal_chado/src/Plugin/Field/FieldType/ChadoAssayTypeDefault.php
  tripal_chado/tripal_chado.install
Labels: bug - confirmed, Group 1 - Tripal Content Types | Terms | Fields, Easy PR Review 😀
